<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인젠트 로그인</title>
</head>
<body>
<form action="http://localhost:9000/oauth2/authorize" method="get">
    <input type="text" name="client_id" value="client" />
    <input type="text" name="redirect_uri" value="http://127.0.0.1:8000/authorized" />
    <input type="text" name="scope" value="openid" />
    <input type="text" name="response_type" value="code" />
    <input type="text" name="response_mode" value="form_post" />
    <input type="text" name="code_challenge_method" value="S256" />
    <input type="text" name="code_challenge" value="DQJMSJKBRbJ2HM0iB23mAY7HIxDxOxIAxn3RuPH44EQ" />
    <input type="text" name="state" value="97jexss3jm" />
    <input type="text" name="nonce" value="n3zbsrsr9fs" />
    <button type="submit" class="btn btn-danger">인젠트 로그인</button>
</form>
</body>
</html>