<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>INFINITY MANAGER</title>
    <th:block layout:fragment="css">
        <link href="/images/logo_img.png" rel="shortcut icon" type="image/x-icon">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet"> <!-- 필수 -->

    </th:block>

    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script> <!-- 필수 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- 필수 -->
        <script src="/js/index.js"></script>
    </th:block>

</head>
<body>
<div layout:fragment="content">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">APIs</h1>
                        <button  sec:authorize="hasAnyRole('ADMIN','MYDATA','PROVIDER')" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#registerModal">
                            <i class="fa-solid fa-plus fa-flip"></i> 서비스 등록
                        </button>
                    </div>
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->

                        <div class="col-xl-4 col-md-6 mb-4" th:id="${api.id}" th:each="api:${list}">
                            <div class="goTable" style="cursor: pointer">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center intoApi"
                                             th:apiId="${api.id}"
                                             th:onclick="insertApis(event,this.getAttribute('apiId'))">
                                            <div class="col mr-2">
                                                <div class="h3 font-weight-bold text-primary mb-1">
                                                    <span th:text="${api.name}">
                                                    </span>
                                                    ( <span th:text="${api.context}"></span> )
                                                </div>
                                                <div class="h6 text-dark mb-0" th:text="${api.explanation}"></div>
                                                <div class="h6 text-dark mb-0" th:if="${api.disclosure==true}">공개</div>
                                                <div class="h6 text-dark mb-0" th:if="${api.disclosure==false}">비공개
                                                </div>
                                            </div>
                                            <div sec:authorize="hasAnyRole('ADMIN','MYDATA','PROVIDER')" class="d-flex flex-column" id="subtable">
                                                <button class="btn btn-light inBtn modal2"
                                                        th:apiId="${api.id}"
                                                        onclick="updateApi(this)">
                                                    <i class="fa-solid fa-pen" style="color: #797a7c;"></i>
                                                </button>
                                                <button class="btn btn-light inBtn modal2"
                                                        th:apiId="${api.id}" th:apiName="${api.name}"
                                                        onclick="removeApi(this)">
                                                    <i class="fa-solid fa-trash-can" style="color: #797a7c;"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal-->
        <!--등록 modal-->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="/api/insert" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="registerModalLabel">등록</h5>
                            <div class="" style="cursor: pointer" data-bs-dismiss="modal"
                            ><i class="fa-solid fa-xmark" style="color: #7f7f7f;"></i></div>
                        </div>
                        <div class="modal-body" id="registerModalBody">

                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td class="tdbg">컨텍스트📍</td>
                                    <td><input type="text" class="form-control contextApi" value="/" name="context"
                                               required></td>
                                </tr>
                                <tr>
                                    <td class="tdbg">이름📍</td>
                                    <td><input type="text" class="form-control nameApi" name="name" required></td>
                                </tr>
                                <tr>
                                    <td class="tdbg">공개여부📍</td>
                                    <td class="d-flex">
                                        <div class="form-check mr-2">
                                            <input class="form-check-input" type="radio"
                                                   value="true"
                                                   name="disclosure"
                                                   id="show" checked>
                                            <label class="form-check-label" for="show">
                                                공개
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                   name="disclosure"
                                                   value="false"
                                                   id="noshow">
                                            <label class="form-check-label" for="noshow">
                                                비공개
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <input name="roleId" type="hidden" value="0">
                                    <td class="tdbg">역할</td>
                                    <td>
                                        <div id="target">
                                        </div>
                                        <button type="button"
                                                class="btn btn-dark btn-sm"
                                                data-bs-toggle="modal" onclick="roleList()">
                                            <i class=" fa-solid fa-plus" style="color: #f7f7f8;"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbg">설명</td>
                                    <td><textarea class="form-control" name="explanation"></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="reset">취소
                            </button>
                            <button type="submit" class="btn btn-primary" id="registerApi" onclick="saveApi()">저장
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 수정 modal-->
        <div class="modal fade modal2" id="updateModal" tabindex="-1"
             data-bs-backdrop="static" data-bs-keyboard="false"
             aria-labelledby="updateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal2"
                 role="document">
                <div class="modal-content">
                    <form method="post" id="updateApi">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel"></h5>
                            <div class="" style="cursor: pointer"
                                 data-bs-dismiss="modal"
                            ><i class="fa-solid fa-xmark"
                                style="color: #7f7f7f;"></i>
                            </div>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td class="tdbg">컨텍스트📍</td>
                                    <td><input type="text" class="form-control"
                                               id="contextApi" name="context"
                                               required></td>
                                </tr>
                                <tr>
                                    <td class="tdbg">이름📍</td>
                                    <td><input type="text" class="form-control"
                                               id="nameApi" name="name"
                                               required></td>
                                </tr>
                                <tr>
                                    <td class="tdbg">공개여부📍</td>
                                    <td class="d-flex">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   id="radio1"
                                                   value="true"
                                                   name="disclosure"
                                            >
                                            <label class="form-check-label"
                                                   for="radio1">
                                                공개
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   id="radio2"
                                                   value="false"
                                                   name="disclosure"
                                            >
                                            <label class="form-check-label"
                                                   for="radio2">
                                                비공개
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbg">소유자📍</td>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <td class="tdbg">역할</td>
                                    <td class="d-flex">
                                        <input name="roleId" type="hidden" value="0">
                                        <div id="target2">

                                        </div>
                                        <button type="button"
                                                class="btn btn-dark btn-sm api"
                                                data-bs-toggle="modal"
                                                onclick="apisModalRoleList(this)"
                                        ><i
                                                class="fa-solid fa-plus"
                                                style="color: #f7f7f8;"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdbg">설명</td>
                                    <td><textarea
                                            class="form-control" id="explanationApi" name="explanation"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">취소
                            </button>
                            <button type="submit" class="btn btn-primary" id="updateBtn"
                                    onclick="saveApiUpdate()">저장
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 역할 등록 Modal -->
        <div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="roleModalLabel">역할 추가 / 삭제</h5>
                        <div class="" style="cursor: pointer" data-bs-dismiss="modal"
                        ><i class="fa-solid fa-xmark" style="color: #7f7f7f;"></i></div>
                    </div>
                    <div class="modal-body" id="roleModalBody">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="drawRole(this)"
                                data-bs-toggle="modal"
                                data-bs-target="#registerModal"
                                id="insertServiceModal">닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 역할 수정 Modal -->
        <div class="modal fade" id="roleUpdateModal" tabindex="-1" aria-labelledby="roleUpdateModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="roleUpdateModalLabel">역할 추가 / 삭제</h5>
                        <div class="" style="cursor: pointer" data-bs-dismiss="modal"
                        ><i class="fa-solid fa-xmark" style="color: #7f7f7f;"></i></div>
                    </div>
                    <div class="modal-body" id="apiRoleModalBody">

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="drawRole(this)"
                                data-bs-toggle="modal"
                                data-bs-target="#updateModal"
                                id="updateApisModal">닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>