* {
    font-family: 'Noto Sans KR', sans-serif;
}

.listHover {
    border-bottom: 1px solid black;
    padding: 10px 20px 25px 20px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.flexBetween{
    display: flex;
    justify-content: space-between;
}

#targetBox {
    background-color: #91aeff63;
    border-radius: 30px;
    width: 90%;
}

#listBox {
    display: flex;
    height: 90%;
    justify-content: center;
    margin-top: 3%;
}

#listBox-1 {
    width: 95%;
    height: 95%;
    background-color: #fafafa99;
    border-radius: 10px;
    overflow: auto;
}

.oneBox {
    margin-top: 2%;
}

.fontXL {
    font-size: xx-large;
}

.fontXXL {
    font-size: xxx-large;
}

.fontL {
    font-size: x-large;
}

.box {
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    object-fit: cover;
}