* {
    font-family: 'Noto Sans KR', sans-serif;
}

.listHover {
    border-bottom: 1px solid black;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
}

.listHover:active {
    background-color: #f5f5f5;
}

#targetBox {
    background-color: #91aeff63;
    border-radius: 30px;
    width: 90%;
}

#listBox {
    display: flex;
    height: 90%;
    justify-content: center;
    margin-top: 3%;
}

#listBox-1 {
    width: 95%;
    height: 100%;
    background-color: #fafafa99;
    border-radius: 10px;
    overflow: auto;
}

.oneBox {
    margin-top: 2%;
}