.fontGown {
    font-family: 'Noto Sans KR', sans-serif;
}

#fontBasic {
    font-family: 'Noto Serif KR', serif;
}

input[type="checkbox"] {
    zoom: 2.0;
}

.btn-commit:active {
    background-color: #9c88ff;
}

.btn-commit {
    width: 90%;
    border-radius: 20px;
    height: 75%;
    background-color: #8c7ae6;
    color: #fafafa;
    border-color: #8c7ae6;
    font-size: 2.2rem;
}

.btn:hover {
    color: #f5f5f5 !important;
}

.checkAgree {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    height: 75%;
    background-color: #d2d0d0;
    font-size: 2rem;
}

.listHover {
    border-bottom: 1px solid black;
    padding: 40px 50px 35px 20px;
    display: flex;
    justify-content: space-between;
}

#targetBox {
    /*background-color: #91aeff63;*/
    border-radius: 30px;
    width: 90%;
    border: 1px solid #E4E2E3;
}

#listBox {
    height: 85%;
}

.fontColor {
    color: #5a5c69;
}

.getPad {
    padding: 2.5rem;
    padding-bottom: 1rem !important;
}

