* {
    font-family: 'Noto Sans KR', sans-serif;
}

input[type="checkbox"] {
    zoom: 2.5;
}

.btn-commit:active {
    background-color: #9c88ff;
}

.btn-commit {
    width: 94%;
    border-radius: 10px;
    height: 75%;
    background-color: #8c7ae6;
    color: #fafafa;
    border-color: #8c7ae6;
    font-size: 3rem;
}

.btn:hover {
    color: #f5f5f5 !important;
}

.listHover {
    border-bottom: 1px solid black;
    padding: 40px 50px 35px 20px;
    display: flex;
    justify-content: space-between;
}

#targetBox {
    background-color: #91aeff63;
    border-radius: 30px;
    width: 90%;
}

#listBox {
    display: flex;
    height: 75%;
    justify-content: center;
    margin-top: 3%;
}

#listBox-1 {
    width: 95%;
    height: 100%;
    background-color: #fafafa99;
    border-radius: 10px;
    overflow: auto;
    font-size: 2.5rem
}

.box {
    border-radius: 70%;
    overflow: hidden;
}

.profile {
    width: 100%;
    object-fit: cover;
}

.bankName {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
