<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Custom styles for this template -->
    <link href="/css/sidebar.css" rel="stylesheet">

</head>
<body>

<th:block th:fragment="headerFragment">

    <div style="width: 100vw; height: 100px; background-color: #fafafa">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <img src="/images/logo4.png" style="width: 200px; margin-left: 1%; cursor: pointer;"
                     onclick="javascript:location.href='/api'">
            </div>
            <div style="margin-top: 30px; margin-right: 55px; display: flex; align-items: center" >
                <i style="width: 20px; margin-right:10px; cursor: pointer" class="fa-solid fa-user"
                   th:onclick="|location.href='/user/mypage'|"></i>
                <i style="cursor: pointer" class="fa-solid fa-arrow-right-from-bracket" onclick="location.href='/logout'"></i>
            </div>
        </div>
    </div>
    <div style="width: 100vw; height: 50px; background-color: #12192c"></div>
</th:block>

<th:block th:fragment="sideBarFragment">
    <div id="sidebarMargin" style="margin-left: 4.5%">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div id="scrollbar">
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    </div>
                    <div class="nav__list">
                        <a href="/api" class="nav__link">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">APIs</span>
                        </a>
                        <a href="/api/trash" class="nav__link">
                            <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">휴지통 관리</span>
                        </a>

                        <a href="/requestPage" class="nav__link">
                            <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">요청 관리</span>
                        </a>
                        <a href="/accountList" class="nav__link">
                            <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">계정 관리</span>
                        </a>
                        <a href="/authorization" class="nav__link">
                            <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">권한 관리</span>
                        </a>

                        <div href="#" class="nav__link collapse2">
                            <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">마이데이터</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link2"></ion-icon>

                            <ul>
                                <div onclick="location.href='/mydata/mydataSendReq'"
                                     class="collapse__sublink2 accordion_div mt-3">전송요구관리
                                </div>
                                <div onclick="location.href='/mydata/agencyTable'"
                                     class="collapse__sublink2 accordion_div">기관관리
                                </div>
                                <div onclick="location.href='/mydata/serviceTable'"
                                     class="collapse__sublink2 accordion_div">서비스관리
                                </div>
                                <div onclick="location.href='/mydata/mydataToken'"
                                     class="collapse__sublink2 accordion_div">발급토큰관리
                                </div>
                                <div onclick="location.href='/mydata/providerTable'"
                                     class="collapse__sublink2 accordion_div">
                                    거래이력(제공자)
                                </div>
<!--                                <div onclick="location.href='/mydata/collectorTable'"-->
<!--                                     class="collapse__sublink2 accordion_div">-->
<!--                                    거래이력(사업자)-->
<!--                                </div>-->
<!--                                <div onclick="location.href='/mydata/statistics-Daily'"-->
<!--                                     class="collapse__sublink2 accordion_div">-->
<!--                                    통계(1일)관리-->
<!--                                </div>-->
<!--                                <div onclick="location.href='/mydata/statistics-7Day'"-->
<!--                                     class="collapse__sublink2 accordion_div">-->
<!--                                    통계(7일)관리-->
<!--                                </div>-->
                            </ul>
                        </div>

<!--                        <a href="#" class="nav__link">-->
<!--                            <ion-icon name="settings-outline" class="nav__icon"></ion-icon>-->
<!--                            <span class="nav_name">Settings</span>-->
<!--                        </a>-->
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <script>
        /* EXPANDER MENU */
        const showMenu = (toggleId, navbarId, bodyId) => {
            const toggle = document.getElementById(toggleId),
                navbar = document.getElementById(navbarId),
                bodypadding = document.getElementById(bodyId)
            const div_id = document.getElementById("navbar")
            if (toggle && navbar) {
                console.log("333")
                div_id.addEventListener('mouseover', () => {
                    // console.log("mouseOver")
                    navbar.classList.toggle('expander');

                    bodypadding.classList.toggle('body-pd')
                })
                div_id.addEventListener('mouseout', () => {
                    // console.log("mouseout!!!!!!!!!!!")
                    navbar.className = "l-navbar"

                    bodypadding.className = ""
                })

            }
        }

        showMenu('nav-toggle', 'navbar', 'body-pd')

        /* LINK ACTIVE */
        const linkColor = document.querySelectorAll('.nav__link')

        linkColor.forEach(l => l.addEventListener('click', returnId))

        function colorLink(value) {
            console.log(value)
            console.log("1111111")
            linkColor.forEach(l => l.classList.remove('active'))
            // console.log(this)
            value.classList.add('active')
        }

        function returnId() {
            let docum = this
            colorLink(docum)
            return docum
        }

        // $(".nav__list a").on("click", function () {
        //     $(".nav__list").find(".active").removeClass("active");
        //     console.log($(this))
        //     $(this).addClass("active");
        //     console.log($(this))
        // });

        // window.onload(function () {
        //     colorLink()
        // })


        /* COLLAPSE MENU */
        const linkCollapse = document.getElementsByClassName('collapse__link2')
        var i

        for (i = 0; i < linkCollapse.length; i++) {
            console.log("22222")
            linkCollapse[i].addEventListener('click', function () {
                const collapseMenu = this.nextElementSibling
                collapseMenu.classList.toggle('showCollapse2')

                const rotate = collapseMenu.previousElementSibling
                rotate.classList.toggle('rotate')
            });
        }

        function marginValue() {
            console.log(document.getElementById("body-pd").className)
            let className = document.getElementById("body-pd").className
            if (className == "body-pd") {
                console.log("sidebar close")
                document.getElementById("sidebarMargin").style.marginLeft = "8%"

            } else {
                console.log("sidebar open")
                document.getElementById("sidebarMargin").style.marginLeft = "15%"
            }
        }

        function divChange() {
            let sideDiv = document.getElementById("sidebarMargin")
            // console.log("===============")
            // console.log(document.getElementById("navbar").className == "l-navbar")
            // console.log(sideDiv)
            if (document.getElementById("navbar").className == "l-navbar") {
                // console.log(false)
                sideDiv.style.marginLeft = "4.5%"
                sideDiv.style.transition = "all 600ms ease 0s"
                document.getElementById("contentBody").style.width = "100%"
                document.getElementById("contentBody").style.transition = "all 600ms ease 0s"

                if (matchMedia("only screen and (max-width: 900px)").matches) {
                    sideDiv.style.marginLeft = "8.5%"
                }
                if (matchMedia("only screen and (max-width: 550px)").matches) {
                    sideDiv.style.marginLeft = "10.5%"
                }

            } else {
                // console.log(true) // sidebar 열림
                sideDiv.style.marginLeft = "17%"
                sideDiv.style.transition = "all 600ms ease 0s"
                document.getElementById("contentBody").style.width = "82%"
                document.getElementById("contentBody").style.transition = "all 600ms ease 0s"

                if (matchMedia("only screen and (max-width: 900px)").matches) {
                    sideDiv.style.marginLeft = "24%"
                }
                if (matchMedia("only screen and (max-width: 550px)").matches) {
                    sideDiv.style.marginLeft = "28%"
                }
            }
        }

        let toggle_id = document.getElementById("navbar")
        toggle_id.addEventListener('mouseover', (event) => {
            divChange()
        });

        toggle_id.addEventListener('mouseout', (event) => {
            // console.log("mouseOut")
            divChange()
        });
    </script>

</th:block>

</body>
</html>