<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자산 선택</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet"> <!-- 필수 -->
    <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script> <!-- 필수 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- 필수 -->
    <script src="/vendor/bootstrap2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">

    <style>
        .fontGown {
            font-family: 'Gowun Dodum', sans-serif;
        }

        #fontBasic {
            font-family: 'Noto Serif KR', serif;
        }

        input[type="checkbox"] {
            zoom: 2.0;
        }

        .targetBox {
            border-radius: 30px;
            width: 90%;
            border: 1px solid #E4E2E3;
        }

        .inBox {
            background-color: #ecf0f1;
            border-radius: 30px;
            width: 90%;
            border: 1px solid #E4E2E3;
        }

        .box {
            border-radius: 70%;
            overflow: hidden;
        }

        .btn-commit:active {
            background-color: #9c88ff;
        }

        .btn-commit {
            width: 90%;
            border-radius: 20px;
            height: 7%;
            background-color: #8c7ae6;
            color: #fafafa;
            border-color: #8c7ae6;
            font-size: 2.2rem;
            position: fixed;
            bottom: 0;
            margin-bottom: 30px;
        }

        .btn:hover {
            color: #f5f5f5 !important;
        }


    </style>
    <script>
        let org_code = []

        function endAdd() {
            Swal.fire({
                showCancelButton: true,
                cancelButtonText: "아니요",
                confirmButtonText: "예",
                confirmButtonColor: '#8c7ae6',
                title: "자산 연결을 종료하시겠어요?",
                text: "종료하면 처음부터 다시 시작해야해요.",
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/app/main';
                }
            });
        }


        // input box 갯수 세기
        function cntCheck(value) {
            console.log("check 들어옴")
            let cnt = 0;
            let checkboxes = document.getElementsByName('property');
            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    cnt = cnt + 1;
                }
            })

            if (cnt > 0) {
                document.getElementById('nextBtn').disabled = false;
            } else {
                document.getElementById('nextBtn').disabled = true;
            }
            /*선택한 금융상품의 기관 코드 가져오기 */
            console.log(value)
            console.log(value.parentNode)
            console.log(value.parentNode.id)

            org_code.push(value.parentNode.id)
            console.log(org_code)


        }

        function connectProperty() {

            /* 코드 중복제거 */
            const set = new Set(org_code);
            const uniqueOrgArr = [...set];


            console.log("orgCode !! ")
            console.log(uniqueOrgArr)

            let chbox = document.getElementsByClassName('bankOne');
            let total = chbox.length;
            let list = [];
            for (let i = 0; i < total; i++) {
                console.log(chbox[i].checked)
                if (chbox[i].checked) {
                    list.push(chbox[i].parentNode.children[0].children[1].innerText);
                }
            }

            console.log(list);
            // let org_code = ;
            let data = {
                "accountList": list,
                "org_code_list": uniqueOrgArr,

            }
            // 자산 연결
            $.ajax({
                url: "/app/connectAgency",
                data: data,
                type: 'post',

                success: () => {
                    console.log("성공");
                    location.href = '/app/main';
                }
            })
            // 스케쥴링 하는가에 따라 달라짐
            // location.href = '/app/sendReq';

        }
    </script>6
</head>
<body>
<div class="container-xl">
    <div class="row mt-5 mb-5 fontGown">
        <h1 class="col-1 text-right mt-5" onclick="history.go(-1)"><</h1>
        <h1 class="col-10 text-center mt-5">자산 연결</h1>
        <h1 class="col-1 text-left mt-5" onclick="endAdd()">×</h1>
    </div>
    <div id="fontBasic">
        <div class="d-flex justify-content-center mb-3" style="height: 6.3rem">
            <div class="mt-3" style="background-color: #91aeff63; border-radius: 30px;
        width: 90%;">
                <div class="d-flex justify-content-center p-4 align-items-center">
                    <h2 class="font-weight-bold" style="color : black;">상품(계좌) 리스트에서 가져올 상세 정보를 선택해 주세요</h2>
                </div>
            </div>
        </div>
        <div class="text-muted d-flex justify-content-center mb-5" style="font-size: 25px">
            ※ 선택하신 기관에 보유하고 있는 자산이 존재하지 않는다면 보이지 않습니다.
        </div>
        <th:block th:if="${#lists.isEmpty(mdAgencyDTOList)}">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <img src="/images/exclamation.png" class="mb-5" style="width: 30%;">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div style="font-size: xx-large; font-weight: bold; color: #1a237e">선택하신 기관에 연결할 수 있는 자산이 존재하지
                        않습니다.
                    </div>
                </div>
            </div>
        </th:block>
        <th:block th:each="agency:${mdAgencyDTOList}">
            <div class="d-flex justify-content-center target mt-4 " style="height: 9rem">
                <div class="d-flex shadow p-5 targetBox justify-content-between align-items-center">
                    <div class="w-100 d-flex align-items-center">
                        <span class="box"><img class="profile" th:src="|/images/${industry}/${agency.logo}|"></span>
                        <h1 class="ml-3">
                            <span th:text="${agency.name}">인젠트 뱅크</span>
                        </h1>
                    </div>
                </div>
            </div>
            <th:block th:each="account:${accountList}" th:if="${account.org_code==agency.code}">
                <div class="d-flex justify-content-center target" style="height: 8rem" th:id="${account.org_code}">
                    <div class="d-flex p-5 inBox justify-content-between align-items-center"
                         th:id="${account.org_code}">
                        <div class="w-100">
                            <h3 th:text="${account.prod_name}">
                                인젠트 주거래 통장
                            </h3>
                            <h4 th:text="|${account.account_num}|">
                                ( 101010101010101010 )
                            </h4>
                        </div>
                        <input type="checkbox" class="form-check bankOne" name="property" onclick="cntCheck(this)">
                    </div>
                </div>
            </th:block>
        </th:block>

    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button id="nextBtn" class="btn btn-commit" type="button" onclick="connectProperty()"
                disabled>다음
        </button>
    </div>
</div>

</body>
</html>