<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFINITY MANAGER</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="/images/logo_img.png" rel="shortcut icon" type="image/x-icon">

    <link href="/css/app/applogin.css" rel="stylesheet"/>
</head>
<body style="    text-align: -webkit-center;
    margin-top: 30%;">
<div class="login-wrapper">
    <img src="../images/ODJGGE0.jpg" style="width: 70%; margin-bottom: 20px">
    <!--    <h2>Login</h2>-->
    <div class="">
        <div class="h1 text-muted font-weight-bolder">INFINITY</div>
        <div class="h1">
            <span class="text-danger font-weight-bold">MyData</span> Management
        </div>
    </div>
    <!--    <form id="login-form">-->
    <form method="get" id="login-form" onsubmit="return false;">
        <input type="text" name="username" placeholder="Id" style="margin-top: 50px; height: 70px" onkeydown="checkSpacebar()">
        <input type="password" name="password" placeholder="Password" style="height: 70px" onkeydown="checkSpacebar()">
        <hr style="margin: 1rem 0;"/>
        <label for="remember-check" style="font-size: 20px; ">
            <input class="h2" type="checkbox" id="remember-check" name="remember-me"style="zoom: 1.0;">&nbsp;로그인 유지
        </label>
        <h3 th:if="${error != null}" th:text="|${exception}|"
            style="color: #E23137; margin-bottom: 0!important;"></h3>

        <input type="submit" value="Login" style="margin-top: 40px; height: 70px" id="send" onclick="btnClick()"/>

    </form>
    <a class="inzent_login_btn" href="http://52.78.136.223:9000/oauth2/authorize
?client_id=client
&redirect_uri=http://15.165.67.119:8080/app/authorized
&scope=openid
&response_type=code
&response_mode=form_post
&code_challenge_method=S256
&code_challenge=DQJMSJKBRbJ2HM0iB23mAY7HIxDxOxIAxn3RuPH44EQ
&state=oy3rwjvk1z
&nonce=13wvazekn9o"><span class="box"><img class="profile shadow-lg" style="margin-right: 20px;" src="/images/inzent.png"></span>인젠트
        로그인</a>
</div>
<script src="/js/app/applogin.js"></script>
</body>
</html>
