<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>은행</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet"> <!-- 필수 -->
    <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script> <!-- 필수 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- 필수 -->
    <script src="/vendor/bootstrap2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
            /*font-family: 'NanumSquareRound', sans-serif;*/
            /*font-family: 'Nanum Gothic', sans-serif;*/
        }

        input[type="checkbox"] {
            zoom: 2.0;
        }

        .btn-commit:active {
            background-color: #9c88ff;
        }

        .btn-commit {
            width: 94%;
            border-radius: 10px;
            height: 75%;
            background-color: #8c7ae6;
            color: #fafafa;
            border-color: #8c7ae6;
            font-size: 3rem;
        }

        .btn:hover {
            color: #f5f5f5 !important;
        }

        .listHover {
            border-bottom: 1px solid black;
            padding: 40px 50px 35px 20px;
            display: flex;
            justify-content: space-between;
        }

        #targetBox {
            background-color: #91aeff63;
            border-radius: 30px;
            width: 90%;
        }

        #listBox {
            display: flex;
            height: 75%;
            justify-content: center;
            margin-top: 3%;
        }

        #listBox-1 {
            width: 95%;
            height: 100%;
            background-color: #fafafa99;
            border-radius: 10px;
            overflow: auto;
            font-size: 2.5rem
        }

        .box {
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            object-fit: cover;
        }

        .bankName {
            margin-left: 20px;
            display: flex;
            align-items: center;
        }

    </style>

    <script>
        window.onload = function () {
            let total_bank = document.getElementsByClassName("banks").length;
            document.getElementById("total-bank").innerText = total_bank;
            let checkboxes = document.getElementsByName('bank');
            let cnt = 0;
            console.log(checkboxes);
            checkboxes.forEach((checkbox) => {
                if (document.getElementById("checkAll").checked == true) {
                    cnt = cnt - 1;
                } else {
                    if (checkbox.checked) {
                        cnt = cnt + 1;
                    }
                }
            })

            document.getElementById("choose-bank").innerText = cnt;
        };

        function cntCheck() {
            let cnt = 0;
            let checkboxes = document.getElementsByName('bank');
            checkboxes.forEach((checkbox) => {
                console.log("============")
                if (document.getElementById("checkAll").checked) {
                    cnt = cnt - 1;
                } else {
                    if (checkbox.checked) {
                        console.log("짜잘이들 체크 됨")
                        cnt = cnt + 1;
                    }
                }
            })
            // 체크박스 갯수
            let chbox = document.getElementsByClassName('bankOne');
            let total = chbox.length;
            console.log(total);
            for (let i = 0; i < total; i++) {
                if (document.getElementById("checkAll").checked) {
                    if (!chbox[i].checked) {
                        console.log("들어옴")
                        $('#checkAll').prop("checked", false);
                        cnt = total - 1;
                    }
                }

            }

            document.getElementById("choose-bank").innerText = cnt;

            if (cnt > 0) {
                document.getElementById('connectProperty').disabled = false;
            } else {
                document.getElementById('connectProperty').disabled = true;
            }
        }

        function selectAll(selectAll) {
            console.log("전체선택")
            const checkboxes = document.getElementsByName('bank');
            let total = document.getElementsByClassName('bankOne').length;

            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked;
            })
            if (document.getElementById('checkAll').checked == true) {
                document.getElementById("choose-bank").innerText = total;
                document.getElementById('connectProperty').disabled = false;
            } else {
                document.getElementById("choose-bank").innerText = 0;
                document.getElementById('connectProperty').disabled = true;
            }
        }

        function addProperty() {
            let chbox = document.getElementsByClassName('bankOne');
            let total = chbox.length;
            let list = [];
            console.log(total);
            for (let i = 0; i < total; i++) {
                console.log(chbox[i].checked)
                if (chbox[i].checked) {

                    console.log(chbox[i].parentNode.children[0].children[1].innerText);

                    list.push(chbox[i].parentNode.children[0].children[1].innerText);
                    $('#checkAll').prop("checked", false);
                    cnt = total - 1;
                }
            }
            console.log("===========")
            console.log(list);

            location.href = '/app/certificationSendReq/' + list;
        }

        function endAdd() {
            Swal.fire({
                showCancelButton: true,
                cancelButtonText: "아니요",
                confirmButtonText: "예",
                // cancelButtonColor: '#f5f5f5',
                confirmButtonColor: '#8c7ae6',
                title: "자산 연결을 종료하시겠어요?",
                text: "종료하면 처음부터 다시 시작해야해요.",
                // reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/app/main';
                }
            });
        }

    </script>
</head>
<body>
<div class="container-xl">
    <div class="row mt-5 mb-5">
        <h1 class="col-1 text-right mt-5" onclick="history.go(-1)"><</h1>
        <h1 class="col-10 text-center mt-5">은행 자산 연결</h1>
        <h1 class="col-1 text-left mt-5" onclick="endAdd()">×</h1>
    </div>
    <div class="d-flex justify-content-center" style="height: 6.3rem">
        <div class="mt-3" style="background-color: #8c7ae6; border-radius: 30px;
        width: 90%;">
            <div class="d-flex justify-content-between p-4 align-items-center">
                <h2 class="font-weight-bold" style="color : white;">INFINITY에서 관리할 내 자산이 있는 기관을 선택해주세요</h2>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center target" style="height: 113rem">
        <div class="mt-3" id="targetBox">
            <div class="d-flex p-4">
                <h1 id="listName" class="ml-1">은행 목록</h1>
            </div>
            <div class="d-flex justify-content-between mb-4 p-4" style="font-size: 2rem">
                <div class="text-muted"><span id="choose-bank" style="color: #273c75">0</span>/<span
                        id="total-bank"></span>
                </div>
                <div class="d-flex">
                    <input class="form-check" type="checkbox" name="bank" onclick="selectAll(this)" value="selectall"
                           id="checkAll">
                    <b class="text-muted">&nbsp;전체선택</b>
                </div>
            </div>
            <hr class="mt-0">
            <div id="listBox">
                <div class="p-4" id="listBox-1">
                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/kakao.png"></span>
                            <div class="bankName" id="kakao" value="카카오뱅크">카카오뱅크</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>
                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/toss.png"></span>
                            <div class="bankName" id="toss" value="토스뱅크">토스뱅크</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>
                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/inzent.png"></span>
                            <div class="bankName" id="inzent" value="인젠트뱅크">인젠트뱅크</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>

                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/ibk.png"></span>
                            <div class="bankName" id="ibk" value="IBK기업은행">IBK기업은행</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>

                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/kb.png"></span>
                            <div class="bankName" id="kb" value="KB국민은행">KB국민은행</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>

                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/shinhan.png"></span>
                            <div class="bankName" id="shinhan" value="신한은행">신한은행</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>

                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/wori.webp"></span>
                            <div class="bankName" id="woori" value="우리은행">우리은행</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>

                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/hana.png"></span>
                            <div class="bankName" id="hana" value="하나은행">하나은행</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>

                    <div class="d-flex justify-content-between mb-3 banks listHover">
                        <div class="d-flex">
                            <span class="box"><img class="profile" src="/images/bank/suhub.png"></span>
                            <div class="bankName" id="suhub" value="수협은행">수협은행</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 11%;">
                <button class="btn btn-commit" type="button" id="connectProperty" onclick="addProperty()" disabled>자산 연결하기</button>
            </div>

        </div>

    </div>
</div>


</body>
</html>