<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가입상품 목록 전송요구서</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet"> <!-- 필수 -->
    <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script> <!-- 필수 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- 필수 -->
    <script src="/vendor/bootstrap2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">

    <style>
        .fontGown {
            font-family: 'Gowun Dodum', sans-serif;
            /*font-family: 'NanumSquareRound', sans-serif;*/
            /*font-family: 'Nanum Gothic', sans-serif;*/
        }

        #fontBasic {
            font-family: 'Noto Serif KR', serif;
        }

        input[type="checkbox"] {
            zoom: 2.0;
        }

        .btn-commit:active {
            background-color: #9c88ff;
        }

        .btn-commit {
            width: 90%;
            border-radius: 20px;
            height: 75%;
            background-color: #8c7ae6;
            color: #fafafa;
            border-color: #8c7ae6;
            font-size: 2.2rem;
        }

        .btn:hover {
            color: #f5f5f5 !important;
        }

        .checkAgree {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            border-radius: 20px;
            height: 75%;
            background-color: #d2d0d0;
            font-size: 2rem;
        }

        .listHover {
            border-bottom: 1px solid black;
            padding: 40px 50px 35px 20px;
            display: flex;
            justify-content: space-between;
        }

        #targetBox {
            /*background-color: #91aeff63;*/
            border-radius: 30px;
            width: 90%;
            border: 1px solid #E4E2E3;
        }

        #listBox {
            height: 85%;
        }

        .fontColor {
            color: #5a5c69;
        }

        .getPad {
            padding: 2.5rem;
            padding-bottom: 1rem !important;
        }


    </style>
    <script>
        window.onload = function () {
            document.getElementById("agree").checked = false;
        };

        // 필수 checkbox 확인
        function goCheck() {
            console.log("goCheck")
            console.log($('#agree').val());
            let checkAgree = document.getElementById("agree");
            if (checkAgree.checked == false) {
                checkAgree.checked = true;
                document.getElementById("nextBtn").disabled = false;
            } else {
                checkAgree.checked = false;
                document.getElementById("nextBtn").disabled = true;
            }
        }

        function goCheckInput() {
            let checkAgree = document.getElementById("agree");
            if (checkAgree.checked == false) {
                document.getElementById("nextBtn").disabled = true;
            } else {
                document.getElementById("nextBtn").disabled = false;
            }
        }

        // function goCheckInput() {
        //     let checkAgree = document.getElementById("agree");
        //     if (checkAgree.checked == false) {
        //         document.getElementById("nextBtn").disabled = false;
        //     } else {
        //         document.getElementById("nextBtn").disabled = true;
        //     }
        // }

        function endAdd() {
            Swal.fire({
                showCancelButton: true,
                cancelButtonText: "아니요",
                confirmButtonText: "예",
                // cancelButtonColor: '#f5f5f5',
                confirmButtonColor: '#8c7ae6',
                title: "자산 연결을 종료하시겠어요?",
                text: "종료하면 처음부터 다시 시작해야해요.",
                // reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/app/main';
                }
            });
        }


    </script>
</head>
<body>
<div class="container-xl">
    <div class="row mt-5 mb-5 fontGown">
        <h1 class="col-1 text-right mt-5" onclick="history.go(-1)"><</h1>
        <h1 class="col-10 text-center mt-5">자산 연결</h1>
        <h1 class="col-1 text-left mt-5" onclick="endAdd()">×</h1>
    </div>
    <div id="fontBasic">
        <div class="d-flex justify-content-center" style="height: 6.3rem">
            <div class="mt-3" style="background-color: #91aeff63; border-radius: 30px;
        width: 90%;">
                <div class="d-flex justify-content-center p-4 align-items-center">
                    <h2 class="font-weight-bold" style="color : black;">[필수]개인(신용)정보 수집•이용 동의서</h2>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center target" style="height: 170rem;">
            <div class="mt-3 shadow" id="targetBox">
                <div class="d-flex p-4">
                    <h2 id="listName" class="ml-1">가입상품목록조회 통합인증용</h2>
                </div>
                <p class="d-flex justify-content-between mb-2 pl-4 pr-4 pb-4 pt-0"
                   style="font-size: 1.5rem; color:#5a5c69">
                    (주)INFINITY는 ⌈신용정보의 이용 및 보호에 관한 볍률⌋ , ⌈개인정보보호법⌋ 등 관련 법령에 따라 다음과 같이 귀하의 개인(신용)정보를 처리합니다.
                </p>
                <hr class="mt-0" style="border-top: 3px solid #E4E2E3!important;">
                <div id="listBox">
                    <div class="getPad" style="height: 28%">
                        <div class="mb-5">
                            <h3>수집 이용 목적</h3>
                            <div>
                                <h4 class="fontColor p-2">
                                    상세정보 전송요구를 위한 가입상품목록 조회
                                </h4>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h3>보유 및 이용기간</h3>
                            <div>
                                <h4 class="fontColor p-2">
                                    상세정보 전송요구 시까지 또는 7일 중 짧은 기간
                                </h4>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h3>거부 권리 및 불이익</h3>
                            <div>
                                <h4 class="fontColor p-3">
                                    귀하는 개인(신용)정보 수집•이용에 관한 동의를 거부하실 수 있습니다. 다만 "필수 항목에 대한 수집•이용에 관한 동의"는
                                    본인 신용정보 통합 조회, 데이터 분석 서비스의 이용을 위한 필수적 사항이므로 동의를 거부하실 경우 본인 신용정보 통합조회,
                                    데이터분석 서비스의 이용이 제한될 수 있으며, "선택 항목에 대한 수집•이용에 관한 동의:는 거부하실 경우 해당 선택 항목에
                                    대한 본인신용정보 통합조회, 데이터분석 서비스의 이용이 제한 될 수 있습니다.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0" style="border-top: 3px solid #E4E2E3!important;">
                    <div class="getPad">
                        <h2 class="mb-5">개인(신용)정보 수집•이용 항목</h2>
                        <div class="mb-5">
                            <h3>개인(식별)정보</h3>
                            <div>
                                <h4 class="fontColor p-2">
                                    전자서명, 접근토큰, 인증서, 전송요구서
                                </h4>
                            </div>
                        </div>
                        <h3 class="mb-3">
                            신용거래정보
                        </h3>
                        <div class="mb-5">
                            <h3 style="color:#7A65E7FF;">은행</h3>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 고객정보-기관정보
                                </h3>
                                <h4 class="fontColor">
                                    고객정보 최초생성일시, 계좌번호, 회차번호, 상품명, 외화계좌여부, 마이너스 약정 여부,
                                    계좌번호 별 구분코드, 계좌번호 별 상태 코드
                                </h4>
                            </div>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 개인형IRP 정보-목록정보
                                </h3>
                                <h4 class="fontColor">
                                    상품명, 계좌번호
                                </h4>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h3 style="color:#7A65E7FF;">금융투자</h3>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 고객정보-보유계좌정보
                                </h3>
                                <h4 class="fontColor">
                                    계좌번호, 계좌명, 계좌종류 (코드), 계좌개설일, 세제혜택 적용여부(계좌)
                                </h4>
                            </div>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 개인형IRP 정보-목록정보
                                </h3>
                                <h4 class="fontColor">
                                    상품명, 계좌번호
                                </h4>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h3 style="color:#7A65E7FF;">카드</h3>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 고객정보-보유카드정보
                                </h3>
                                <h4 class="fontColor">
                                    카드번호, 카드식별자, 카드상품명, 본인 / 가족 구분 (코드), 카드구분 (코드)
                                </h4>
                            </div>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 카드대출정보-대출목록
                                </h3>
                                <h4 class="fontColor">
                                    단기대출 (여부), 장기대출 (여부)
                                </h4>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h3 style="color:#7A65E7FF;">보험</h3>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 고객정보-보험상품
                                </h3>
                                <h4 class="fontColor">
                                    증권번호, 상품명, 보험종류 구분 (코드), 계약상태(코드)
                                </h4>
                            </div>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 고객정보-보험대출상품
                                </h3>
                                <h4 class="fontColor">
                                    계좌번호, 상품명, 계좌번호 별 구분 코드, 계좌번호 별 상태 코드
                                </h4>
                            </div>
                            <div class="mb-2">
                                <h3 class="p-2">
                                    • 개인형IRP 정보-목록정보
                                </h3>
                                <h4 class="fontColor">
                                    계약관리번호, 가입번호, 통신구분, 가입구분
                                </h4>
                            </div>
                        </div>

                    </div>
                    <hr class="m-0" style="border-top: 3px solid #E4E2E3!important;">
                    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 6%;">
                        <div class="checkAgree" onclick="goCheck()">
                            <input type="checkbox" class="form-check" name="agree" id="agree" onclick="event.cancelBubble=true; goCheckInput()">
                            <p class="d-flex align-items-center m-0" >[필수]개인(신용)정보 수집•이용에 동의합니다.</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="height: 6%;">
                        <button id="nextBtn" class="btn btn-commit" type="button" onclick="location.href='/app/certificationChoice'" disabled>다음
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>