<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFINITY MANAGER</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet"> <!-- 필수 -->
    <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script> <!-- 필수 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- 필수 -->
    <script src="/vendor/bootstrap2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">
    <link href="/images/logo_img.png" rel="shortcut icon" type="image/x-icon">
    <script src="/js/app/investInsert.js"></script>
    <link href="/css/app/investInsert.css" rel="stylesheet"/>
</head>
<body>
<div class="container-xl">
    <div class="row mt-5 mb-5">
        <h1 class="col-1 text-right mt-5" onclick="history.go(-1)"><</h1>
        <h1 class="col-10 text-center mt-5">증권 자산 연결</h1>
        <h1 class="col-1 text-left mt-5" onclick="endAdd()">×</h1>
    </div>
    <div class="d-flex justify-content-center" style="height: 6.3rem">
        <div class="mt-3" style="background-color: #8c7ae6; border-radius: 30px;
        width: 90%;">
            <div class="d-flex justify-content-center p-4 align-items-center">
                <h2 style="color : white;">INFINITY에서 관리할 내 자산이 있는 기관을 선택해주세요</h2>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center target" style="height: 1500px;">
        <div class="mt-3" id="targetBox">
            <div class="d-flex p-4">
                <h1 id="listName" class="ml-1">증권사 목록</h1>
            </div>
            <div class="d-flex justify-content-between mb-4 p-4" style="font-size: 2rem">
                <div class="text-muted"><span id="choose-bank" style="color: #273c75">0</span>/<span
                        id="total-bank"></span>
                </div>
                <div class="d-flex">
                    <input class="form-check" type="checkbox" name="bank" onclick="selectAll(this)" value="selectall"
                           id="checkAll">
                    <b class="text-muted">&nbsp;전체선택</b>
                </div>
            </div>
            <hr class="mt-0">
            <div id="listBox">
                <div class="p-4" id="listBox-1">
                    <!-- 기관리스트들 -->
                    <div class="d-flex justify-content-between mb-3 banks listHover" th:each="list:${agencyList}">
                        <div class="d-flex">
                            <span class="box"><img class="profile" th:src="|/images/invest/${list.logo}|"></span>
                            <div class="bankName" th:text="${list.name}">카카오뱅크</div>
                        </div>
                        <input class="form-check bankOne" type="checkbox" name="bank" onclick="cntCheck()">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 8%;">
                <button class="btn btn-commit" type="button" id="connectProperty" onclick="addProperty()" disabled>자산
                    연결하기
                </button>
            </div>

        </div>

    </div>
</div>


</body>
</html>