<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet"> <!-- 필수 -->
    <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script> <!-- 필수 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- 필수 -->
    <script src="/vendor/bootstrap2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .bi {
            padding: 7px;
        }

        #iconBox {
            height: 12rem;
            background-color: #91aeff63;
            display: flex;
            align-items: center;
            /*justify-content: center;*/
            margin-top: 5%;
            border-radius: 30px;
            width: 90%;
            padding: 35px;
        }

        #iconBoxUnder {
            width: 100%;
            /* text-align: center; */
            display: flex;
            justify-content: space-around;
        }

        .texts {
            display: flex;
            justify-content: center;
            font-size: 23px;

        }

        * {
            font-family: 'Gowun Dodum', sans-serif;
            /*font-family: 'NanumSquareRound', sans-serif;*/
            /*font-family: 'Nanum Gothic', sans-serif;*/
        }

        .listHover {
            border-bottom: 1px solid black;
            padding: 40px 20px;
            display: flex;
            justify-content: space-between;
        }

        .listHover:active {
            background-color: #f5f5f5;
        }

        .btn-plus {
            width: 25%;
            border-radius: 20%;
            height: 85%;
            background-color: #ff7675;
            color: #fafafa;
            border-color: #ff7675;
            font-size: xx-large;
            margin-right: 10px;
        }

        .btn-minus {
            width: 25%;
            border-radius: 20%;
            height: 85%;
            background-color: #86b7fe;
            color: #fafafa;
            border-color: #86b7fe;
            font-size: xx-large;
            margin-left: 10px;
        }

        #targetBox {
            background-color: #91aeff63;
            border-radius: 30px;
            width: 90%;
        }

        #listBox {
            display: flex;
            height: 79%;
            justify-content: center;
            margin-top: 3%;
        }

        #listBox-1 {
            width: 95%;
            height: 100%;
            background-color: #fafafa99;
            border-radius: 10px;
            overflow: auto;
        }

        .oneBox {
            margin-top: 2%;
        }

        .box {
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            object-fit: cover;
        }

        .bankName {
            margin: 0px 20px;
            display: flex;
            align-items: center;
        }

        .cntAccount {
            width: 40px;
            height: 40px;
            font-size: 27px;
        }

        .accountList {
            font-size: xx-large;
            border-bottom: 1px solid black;
            padding: 20px 10px;
        }

        .accountList:active {
            background-color: #e5ffff;
        }

        .fontXL {
            font-size: xx-large;
        }

        .fontXXL {
            font-size: xxx-large;
        }

        .fontL {
            font-size: x-large;
        }

        .noList {
            /*border-bottom: 1px solid black;*/
            padding: 40px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script>
        // 각 카테고리 버튼
        function showCategory(value) {
            let target = document.getElementById('listBox-1');
            // 목록 초기화
            target.innerHTML = "";
            let category = value.getAttribute("id");
            console.log("카테고리요!!!!!! = " + category);
            let custnum = value.getAttribute("custnum");
            console.log("custnum = " + custnum);
            let data = {
                "clientNum": custnum,
                "industry": category,
            }

            // 각 버튼
            if (category == "card") {
                // 목록 이름
                document.getElementById('listName').innerText = "My 카드 목록";
                $('.btn-plus').attr("onclick", "sorry()");


                // ajax로 목록 만들기
                $.ajax({
                    url: "/app/card/myAccount",
                    data: data,
                    type: "post",

                    success: (message) => {
                        console.log("카드!!!!!!!!!!!!!!!!")
                        let cardList = JSON.parse(message.cardList);
                        console.log(cardList.length == 0)

                        if (cardList.length == 0) {
                            let div_1 = document.createElement("div");
                            let div_2 = document.createElement("div");
                            let div_3 = document.createElement("div");
                            let span_1 = document.createElement("span");
                            let span_2 = document.createElement("span");

                            div_1.className = "oneBox";
                            div_2.className = "fontXL noList";
                            div_3.className = "fontL noList";
                            span_1.innerText = "연결된 자산이 없습니다.";
                            span_2.innerText = "자산을 추가하시려면 아래 추가 버튼을 눌러주세요.";

                            div_2.append(span_1);
                            div_3.append(span_2);
                            div_1.append(div_2, div_3);

                            target.append(div_1);
                        }
                    }
                });
            } else if (category == "bank") {
                // 목록 이름
                document.getElementById('listName').innerText = " My 은행 목록";
                $('.btn-plus').attr("onclick", "location.href='/app/bank/insert/bank'");

                $.ajax({
                    url: "/app/bank/myAccount",
                    data: data,
                    type: "post",

                    success: (message) => {

                        // 데이터
                        console.log(JSON.parse(message.bankList));
                        // let reqData = JSON.parse(message.bankList);
                        // let resData = JSON.parse(message.bankList);
                        let agency = JSON.parse(message.agency);
                        let bankList = JSON.parse(message.bankList);
                        // 해당 업권에 계좌 정보가 하나도 없을 때
                        if (bankList.length == 0) {
                            let div_1 = document.createElement("div");
                            let div_2 = document.createElement("div");
                            let div_3 = document.createElement("div");
                            let span_1 = document.createElement("span");
                            let span_2 = document.createElement("span");

                            div_1.className = "oneBox";
                            div_2.className = "fontXL noList";
                            div_3.className = "fontL noList";
                            span_1.innerText = "연결된 자산이 없습니다.";
                            span_2.innerText = "자산을 추가하시려면 아래 추가 버튼을 눌러주세요.";

                            div_2.append(span_1);
                            div_3.append(span_2);
                            div_1.append(div_2, div_3);

                            target.append(div_1);
                        } else {
                            console.log(agency);
                            // console.log(reqData)
                            // let reqList = JSON.parse(message)
                            // console.log(resData);
                            console.log("=====================");
                            // console.log(resData.account_list[0]);
                            for (let i = 0; i < bankList.length; i += 2) {
                                let reqData = JSON.parse(message.bankList)[i];
                                let resData = JSON.parse(message.bankList)[i + 1];

                                console.log("i = " + i);
                                console.log(resData.account_list);
                                // console.log(resData.account_list.prod_name);
                                console.log(resData.account_list.length);

                                let div_1 = document.createElement("div");

                                div_1.className = "oneBox";
                                div_1.id = reqData.org_code;
                                $(div_1).attr("industry", category);

                                $(div_1).attr("onclick", "showAccount(this)");
                                let div_2 = document.createElement("div");
                                div_2.className = "listHover";
                                div_2.id = reqData.org_code + "1";
                                for (let j = 0; j < resData.account_list.length; j++) {
                                    console.log(resData.account_list[j].prod_name);
                                    console.log(resData.account_list[j].account_num);

                                }
                                let div_3 = document.createElement("div")
                                div_3.className = "d-flex align-items-center";

                                let h1 = document.createElement("h1");
                                h1.className = "bankName";

                                let span = document.createElement("span")
                                span.className = "box";
                                let img = document.createElement("img");
                                img.className = "profile";
                                // 기관 찾기
                                for (let j = 0; j < agency.length; j++) {
                                    let org_code = agency[j].org_code;
                                    // 은행 로고 + 이름 넣기
                                    if (org_code == reqData.org_code) {

                                        img.src = "/images/bank/" + agency[j].logo;
                                        h1.innerText = agency[j].bankName;
                                    }
                                }
                                let div_4 = document.createElement("div");
                                div_4.className = "badge badge-secondary cntAccount";
                                div_4.innerText = resData.account_cnt;

                                span.append(img);
                                div_3.append(span, h1, div_4);
                                div_2.append(div_3);
                                div_1.append(div_2);

                                target.append(div_1);
                            }
                        }

                    }
                });
            } else if (category == "invest") {
                console.log("금융투자!!!!!!!!!!!!!!!")
                // 목록 이름
                document.getElementById('listName').innerText = " My 투자 목록";
                $('.btn-plus').attr("onclick", "location.href='/app/invest/insert/invest'");

                // ajax로 목록 만들기
                $.ajax({
                    url: "/app/invest/myAccount",
                    data: data,
                    type: "post",

                    success: (message) => {
                        // 데이터
                        console.log(JSON.parse(message.investList));
                        // let reqData = JSON.parse(message.bankList);
                        // let resData = JSON.parse(message.bankList);
                        let agency = JSON.parse(message.agency);
                        let investList = JSON.parse(message.investList);
                        // 해당 업권에 계좌 정보가 하나도 없을 때
                        if (investList.length == 0) {
                            let div_1 = document.createElement("div");
                            let div_2 = document.createElement("div");
                            let div_3 = document.createElement("div");
                            let span_1 = document.createElement("span");
                            let span_2 = document.createElement("span");

                            div_1.className = "oneBox";
                            div_2.className = "fontXL noList";
                            div_3.className = "fontL noList";
                            span_1.innerText = "연결된 자산이 없습니다.";
                            span_2.innerText = "자산을 추가하시려면 아래 추가 버튼을 눌러주세요.";

                            div_2.append(span_1);
                            div_3.append(span_2);
                            div_1.append(div_2, div_3);

                            target.append(div_1);
                        } else {
                            console.log(agency);
                            console.log("===================== 금융투자!!!!!!!!!");

                            for (let i = 0; i < investList.length; i += 2) {
                                let reqData = investList[i];
                                let resData = investList[i + 1];

                                console.log("i = " + i);
                                console.log(resData.account_list);
                                // console.log(resData.account_list.prod_name);
                                console.log(resData.account_list.length);

                                let div_1 = document.createElement("div");

                                div_1.className = "oneBox";
                                div_1.id = reqData.org_code;
                                $(div_1).attr("industry", category);

                                $(div_1).attr("onclick", "showAccount(this)");
                                let div_2 = document.createElement("div");
                                div_2.className = "listHover";
                                div_2.id = reqData.org_code + "1";
                                for (let j = 0; j < resData.account_list.length; j++) {
                                    console.log(resData.account_list[j].account_name);
                                    console.log(resData.account_list[j].account_num);

                                }
                                let div_3 = document.createElement("div")
                                div_3.className = "d-flex align-items-center";

                                let h1 = document.createElement("h1");
                                h1.className = "bankName";

                                let span = document.createElement("span")
                                span.className = "box";
                                let img = document.createElement("img");
                                img.className = "profile";
                                // 기관 찾기
                                for (let j = 0; j < agency.length; j++) {
                                    let org_code = agency[j].org_code;
                                    // 은행 로고 + 이름 넣기
                                    if (org_code == reqData.org_code) {

                                        img.src = "/images/invest/" + agency[j].logo;
                                        h1.innerText = agency[j].agencyName;
                                    }
                                }
                                let div_4 = document.createElement("div");
                                div_4.className = "badge badge-secondary cntAccount";
                                div_4.innerText = resData.account_cnt;

                                span.append(img);
                                div_3.append(span, h1, div_4);
                                div_2.append(div_3);
                                div_1.append(div_2);

                                target.append(div_1);
                            }
                        }
                    }

                });
            } else if (category == "insu") {
                // 목록 이름
                document.getElementById('listName').innerText = " My 보험 목록";
                $('.btn-plus').attr("onclick", "sorry()");

                // ajax로 목록 만들기
                $.ajax({
                    url: "/app/insu/myAccount",
                    data: data,
                    type: "post",

                    success: (message) => {
                        console.log("보험!!!!!!!!!!!!!!!!")
                        let insuList = JSON.parse(message.insuList);
                        console.log(insuList.length == 0)

                        if (insuList.length == 0) {
                            let div_1 = document.createElement("div");
                            let div_2 = document.createElement("div");
                            let div_3 = document.createElement("div");
                            let span_1 = document.createElement("span");
                            let span_2 = document.createElement("span");

                            div_1.className = "oneBox";
                            div_2.className = "fontXL noList";
                            div_3.className = "fontL noList";
                            span_1.innerText = "연결된 자산이 없습니다.";
                            span_2.innerText = "자산을 추가하시려면 아래 추가 버튼을 눌러주세요.";

                            div_2.append(span_1);
                            div_3.append(span_2);
                            div_1.append(div_2, div_3);

                            target.append(div_1);
                        }
                    }
                });
            }
        }

            function showAccount(value) {
                console.log(value);
                let orgCode = value.getAttribute("id");
                let industry = value.getAttribute("industry");
                console.log(orgCode);
                console.log(industry);
                console.log("============================!!!!")
                let cnt = document.getElementsByClassName(orgCode);
                console.log($(cnt).length);
                if ($(cnt).length != 0) {
                    console.log("삭제 조건들어옴");
                    console.log(cnt.length);

                    for (let i = cnt.length - 1; i >= 0; i--) {
                        console.log(i);
                        console.log(cnt[i]);

                        cnt[i].remove();
                    }
                    $('#' + orgCode).css("background-color", "transparent");
                } else {
                    let clientNum = [[${user.ownNum}]];
                    console.log(clientNum);
                    let data = {
                        "clientNum": clientNum,
                        "industry": industry,
                    };

                    // ## 각 업권 별 계좌 리스트
                    if (industry == "card") {

                    } else if (industry == "bank") {
                        $.ajax({
                            url: "/app/bank/myAccount",
                            data: data,
                            type: "post",

                            success: (message) => {
                                let balance = JSON.parse(message.balance);
                                let bankList = JSON.parse(message.bankList);
                                console.log(balance);
                                console.log("==================");
                                console.log(bankList.length);
                                for (let i = 0; i < bankList.length; i += 2) {
                                    let reqData = JSON.parse(message.bankList)[i];
                                    let resData = JSON.parse(message.bankList)[i + 1];

                                    console.log(reqData);
                                    console.log(resData);
                                    console.log(resData.account_list)
                                    console.log("=====================!!!!!!!")
                                    console.log(resData.account_list.length);
                                    console.log("=====================!!!!!!!")

                                    console.log("res_acc_list = " + resData.account_list);

                                    for (let j = 0; j < resData.account_list.length; j++) {
                                        console.log(resData.account_list[j].prod_name);
                                        console.log(resData.account_list[j].account_num);

                                        console.log(resData.account_list);

                                        let div_1 = document.createElement("div");
                                        div_1.className = "accountList " + reqData.org_code;

                                        let div_2 = document.createElement("div");
                                        div_2.className = "d-flex";
                                        console.log("j = " + j);


                                        let bankName = document.createElement("div");
                                        bankName.innerText = resData.account_list[j].prod_name;
                                        let accountNum = document.createElement("div");
                                        let accNum = resData.account_list[j].account_num;
                                        console.log("***********")
                                        console.log(accNum);
                                        console.log("***************")
                                        accountNum.className = "text-muted";
                                        accountNum.innerText = "( " + accNum + " )";
                                        let balanceNum = "";
                                        for (let k = 0; k < balance.length; k += 2) {
                                            console.log(balance[k].account_num)
                                            if (accNum == balance[k].account_num) {
                                                balanceNum = balance[k + 1].detail_list[0].balance_amt;
                                                break;
                                            } else {
                                                balanceNum = "0";
                                            }
                                        }

                                        let balanceDiv = document.createElement("div");
                                        balanceDiv.className = "d-flex justify-content-end";
                                        console.log("잔액 : " + balanceNum);

                                        let balanceAccount = balanceNum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

                                        console.log(balanceAccount);

                                        balanceDiv.innerText = balanceAccount + " 원";

                                        let reqOrg = reqData.org_code;
                                        console.log(reqOrg);
                                        let target = document.getElementById(reqOrg);
                                        if (reqOrg == orgCode) {
                                            console.log("기관코드 같은 조건 들어옴");
                                            $('#' + orgCode).css("background-color", "#f5f5f5");
                                            div_2.append(bankName, accountNum);
                                            div_1.append(div_2, balanceDiv);

                                            target.append(div_1);

                                        }

                                        div_1.onclick = function () {
                                            location.href = "/app/bank/transactions/" + resData.account_list[j].account_num;
                                        }

                                    }
                                }

                            },
                        });
                    } else if (industry == "invest") {
                        $.ajax({
                            url: "/app/invest/myAccount",
                            data: data,
                            type: "post",

                            success: (message) => {
                                let balance = JSON.parse(message.balance);
                                let investList = JSON.parse(message.investList);
                                console.log(balance);
                                console.log("==================");
                                console.log(investList.length);
                                for (let i = 0; i < investList.length; i += 2) {
                                    let reqData = JSON.parse(message.investList)[i];
                                    let resData = JSON.parse(message.investList)[i + 1];

                                    console.log(reqData);
                                    console.log(resData);
                                    console.log(resData.account_list)
                                    console.log("=====================!!!!!!!")
                                    console.log(resData.account_list.length);
                                    console.log("=====================!!!!!!!")

                                    for (let j = 0; j < resData.account_list.length; j++) {
                                        console.log(resData.account_list[j].account_name);
                                        console.log(resData.account_list[j].account_num);

                                        console.log(resData.account_list);

                                        let div_1 = document.createElement("div");
                                        div_1.className = "accountList " + reqData.org_code;

                                        let div_2 = document.createElement("div");
                                        div_2.className = "d-flex";
                                        console.log("j = " + j);


                                        let agencyName = document.createElement("div");
                                        agencyName.innerText = resData.account_list[j].account_name;
                                        let accountNum = document.createElement("div");
                                        let accNum = resData.account_list[j].account_num;
                                        accountNum.className = "text-muted";
                                        accountNum.innerText = "( " + accNum + " )";
                                        let balanceNum = "";

                                        for (let k = 0; k < balance.length; k += 2) {
                                            if (accNum == balance[k].account_num) {
                                                if (balance[k + 1].trans_list.length == 0) {
                                                    balanceNum = "0";
                                                } else {
                                                    balanceNum = balance[k + 1].trans_list[balance[k + 1].trans_list.length - 1].balance_amt;
                                                }
                                                break;
                                            } else {
                                                balanceNum = "0";
                                            }
                                        }

                                        let balanceDiv = document.createElement("div");
                                        balanceDiv.className = "d-flex justify-content-end";
                                        console.log("잔액 : " + balanceNum);

                                        let balanceAccount = balanceNum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

                                        console.log(balanceAccount);

                                        balanceDiv.innerText = balanceAccount + " 원";

                                        let reqOrg = reqData.org_code;
                                        console.log(reqOrg);
                                        let target = document.getElementById(reqOrg);
                                        if (reqOrg == orgCode) {
                                            console.log("기관코드 같은 조건 들어옴");
                                            $('#' + orgCode).css("background-color", "#f5f5f5");
                                            div_2.append(agencyName, accountNum);
                                            div_1.append(div_2, balanceDiv);

                                            target.append(div_1);

                                        }

                                        div_1.onclick = function () {
                                            location.href = "/app/invest/transactions/" + resData.account_list[j].account_num;
                                        }

                                    }
                                }

                            },
                        });
                    } else if (industry == "insu") {

                    }


                }

            }

            function sorry() {
                Swal.fire({
                    title: "자산 연결은 은행 업권과 투자 업권에서만 가능합니다.",
                })
            }


    </script>
</head>
<body>
<div class="container-xl">
    <div class="row mt-5 mb-5">
        <h1 class="col-1 text-right mt-5" onclick="history.go(-1)"><</h1>
        <h1 class="col-10 text-center mt-5">자산조회</h1>
    </div>
    <div class="d-flex justify-content-center" style="height: 20rem">
        <div class="mt-3" style="background-color: #91aeff63; border-radius: 30px;
    width: 90%;">
            <div style="display: flex; align-items: baseline">
                <i class="fa-solid fa-user fa-2xl" style="margin-top: 8%;margin-left: 7%;"></i>
                <h2 class="ml-3" th:text="|${user.nickname} 고객님|"></h2>
            </div>
            <hr>
            <div style="display: flex;height: 43%;justify-content: center;margin-top: 3%;">
                <div style="width: 95%;height: 100%;background-color: #fafafa99;border-radius: 10px;">
                    <div style="display: flex;justify-content: space-between;padding: 4%;margin-top: 2%;">
                        <h2>총자산</h2>
                        <h2 class="font-weight-bold"
                            th:text="|${#numbers.formatInteger(myProperty, 0, 'COMMA')} 원|"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;justify-content: center">
        <div id="iconBox">
            <div id="iconBoxUnder">
                <div id="card" onclick="showCategory(this)" th:custnum="${user.ownNum}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                         class="bi bi-credit-card"
                         viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                    </svg>
                    <div class="texts">
                        카드
                    </div>
                </div>
                <div id="bank" onclick="showCategory(this)" th:custnum="${user.ownNum}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                         class="bi bi-bank"
                         viewBox="0 0 16 16">
                        <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                    </svg>
                    <div class="texts">
                        은행
                    </div>
                </div>
                <div id="invest" onclick="showCategory(this)" th:custnum="${user.ownNum}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                         class="bi bi-bar-chart"
                         viewBox="0 0 16 16">
                        <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                    </svg>
                    <div class="texts">
                        투자
                    </div>
                </div>
                <div id="insu" onclick="showCategory(this)" th:custnum="${user.ownNum}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
                         class="bi bi-cash-coin"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                    </svg>
                    <div class="texts">
                        보험
                    </div>
                </div>
                <!--                <div id="phone" onclick="showCategory(this)" th:custnum="${user.ownNum}">-->
                <!--                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"-->
                <!--                         class="bi bi-shield-check"-->
                <!--                         viewBox="0 0 16 16">-->
                <!--                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>-->
                <!--                        <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>-->
                <!--                    </svg>-->
                <!--                    <div class="texts">-->
                <!--                        통신-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-center target" style="height: 80rem">
        <div class="mt-3" id="targetBox">
            <div class="d-flex p-4">
                <h1 id="listName" class="ml-1">My 카드 목록</h1>
            </div>
            <hr class="mt-0">
            <div id="listBox">
                <div class="p-4" id="listBox-1">
                    <div class="oneBox" th:if="${cardInfo.isEmpty()}">
                        <div class="fontXL noList">
                            <span>연결된 자산이 없습니다.</span>
                        </div>
                        <div class="fontL noList">
                            <span>자산을 추가하시려면 아래 추가 버튼을 눌러주세요.</span>
                        </div>

                    </div>

                </div>
            </div>
            <!-- 추가 해제 버튼 -->
            <div class="d-flex justify-content-center align-items-center" style="height: 11%;">
                <button class="btn-plus" type="button" onclick="sorry()">+ 추가</button>
                <button class="btn-minus" type="button">- 해제</button>
            </div>


        </div>
    </div>
</div>

</body>
</html>