.accordion-body {
    padding: 0 !important;
}

.table-hover {
    margin: auto;
    text-align: center;
    vertical-align: center;
}

tbody {
    border-style: none !important;
}

.api-list {
    padding: 0 !important;
}

.btn-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.v-application--is-ltr .v-text-field .v-label {
    transform-origin: top left;
}

.v-alert.v-alert, .v-label.v-label {
    font-size: 16px;
}

.v-input .v-label {
    height: 20px;
    line-height: 20px;
    letter-spacing: normal;
}

.v-text-field--outlined .v-label--active {
    transform: translateY(-24px) scale(.75);
}

.v-text-field--outlined .v-label {
    top: 18px;
}

.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

label {
    display: inline-block;
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;

}


/*tooltip css start*/
/*#tooltipRenew{*/
/*    padding: 8px 2px;*/
/*    background-color: #444444;*/
/*    border-radius: 5px;*/
/*    color: #ffffff;*/
/*position: absolute;*/
/*opacity: 0;*/
/*transition: all ease 0.5s;*/
/*}*/
/*#tooltipDoc{*/
/*    padding: 8px 2px;*/
/*    background-color: #444444;*/
/*    border-radius: 5px;*/
/*    color: #ffffff;*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    transition: all ease 0.5s;*/
/*}*/
/*#tooltipUI{*/
/*    padding: 8px 2px;*/
/*    background-color: #444444;*/
/*    border-radius: 5px;*/
/*    color: #ffffff;*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    transition: all ease 0.5s;*/
/*}*/
/*#tooltipDelete{*/
/*    padding: 8px 2px;*/
/*    background-color: #444444;*/
/*    border-radius: 5px;*/
/*    color: #ffffff;*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    transition: all ease 0.5s;*/
/*}*/
/*.renew:hover + #tooltipRenew{*/
/*    opacity: 1;*/
/*}*/
/*.doc:hover + #tooltipDoc{*/
/*    opacity: 1;*/
/*}*/
/*.ui:hover + #tooltipUI{*/
/*    opacity: 1;*/
/*}*/
/*.delete:hover + #tooltipDelete{*/
/*    opacity: 1;*/
/*}*/
/*tooltip css end*/

@media only screen and (max-width: 930px) {
    .demo02 {
        display: block;
        width: 100%;
    }

    .demo02 thead {
        display: block;
        float: left;
    }

    .demo02 tbody {
        display: block;
        width: auto;
        overflow-x: auto;
        white-space: nowrap;
    }

    .demo02 th {
        display: block;
        width: auto;
    }

    .demo02 tbody tr {
        display: inline-block;
    }

    .demo02 td {
        display: block;
    }


}

.blackBtn {
    background-color: #5a5c69;
    color: white;
    border-radius: 8px;
    margin: 3px;
}

.yellowBtn {
    background-color: #F6C23E;
    color: white;
    border-radius: 8px;
    margin: 3px;
}

.redBtn {
    background-color: #e74a3b;
    color: white;
    border-radius: 6px;
    margin: 3px;
}

.greenBtn {
    background-color: #198754;
    color: white;
    border-radius: 6px;
    margin: 3px;
}

.yellowBtn:hover {
    background-color: #d79600;
    color: white;
}

.yellowBtn:focus {
    color: white;
}

.redBtn:hover {
    color: white;
    background-color: #a60f00;
}

.redBtn:focus {
    color: white;
}

.greenBtn:hover {
    color: white;
    background-color: #054629;
}

.greenBtn:focus {
    color: white;
}

.blackBtn:hover {
    color: white;
    background-color: rgba(1, 2, 3, 1);
}

.blackBtn:focus {
    color: white;
}

.hover {
    --bs-btn-hover-color: #ffffff !important;
}

/*.httpMethodBtn{*/
/*    width: 20%;*/
/*}*/

#nav-tab > button {
    width: 20%
}

#myTab > li {
    width: 20%
}

.nav nav-pills me-3 mb-2 flex-row > button {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #4a4a4a !important;
}

.fade {
    transition: opacity 0s linear !important;
}
