:root {
    --primary-color: #E23137;
    --secondary-color: whitesmoke;
    --third-color: #E4E2E3;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');*/

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareRound', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-control ,.last-form{
    margin-bottom: 12px;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.container-fluid {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.col {
    width: 50%;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
}
.ani{
    /*width: 80%;*/
    /*height: 80%;*/
}

.form .ani{
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    /*height: 450px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    transform: scale(0);
    transition: 1s ease-in-out;
    transition-delay: 1s;
}

.input-group {
    position: relative;
    width: 100%;
    /*margin: 1rem 0;*/
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
}

.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}

/*.input-group input:focus {*/
/*    border: 0.125rem solid var(--primary-color);*/
/*}*/

.form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

.form p {
    margin: 1rem 0;
    font-size: .7rem;
}

.flex-col {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.container-fluid.sign-in .form.sign-in,
.container-fluid.sign-up .form.sign-up,
.container-fluid.sign-up {
    transform: scale(1);
}

.content-row {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
    width: 100%;
}

.text {
    margin: 4rem;
    color: var(--white);
}

.text h2 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 2rem 0;
    transition: 0.8s ease-in-out;
}

.text p {
    font-weight: 600;
    transition: 0.8s ease-in-out;
}


.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
    transform: translateX(-250%);
}

.text.sign-up h2,
.text.sign-up p,
.img.sign-up img {
    transform: translateX(250%);
}

.container-fluid.sign-in .text.sign-in h2,
.container-fluid.sign-in .text.sign-in p,
.container-fluid.sign-in .img.sign-in img,
.container-fluid.sign-up .text.sign-up h2,
.container-fluid.sign-up .text.sign-up p,
.container-fluid.sign-up .img.sign-up img {
    transform: translateX(0);
}

/* BACKGROUND */

.container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;
    transform: translate(-16%, 0);
    background-image: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 60%, var(--third-color) 100%);
    /*background-image: url("/images/bg2.jpg");*/
    transition: 1s ease-in-out;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-right-radius: max(50vw, 50vh);
    border-top-left-radius: max(50vw, 50vh);
}

.container-fluid.sign-in::before {
    transform: translate(0, 0);
    right: 50%;
}

.container-fluid.sign-up::before {
    transform: translate(100%, 0);
    right: 50%;
}

.help-text{
    display: flex;
    justify-content: space-between;
}

/* RESPONSIVE */

@media only screen and (max-width: 425px) {

    .container-fluid::before,
    .container-fluid.sign-in::before,
    .container-fluid.sign-up::before {
        height: 100vh;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 0;
        transform: none;
        right: 0;
    }

    .container.sign-in .col.sign-up {
        transform: translateY(100%);
    }

    .container-fluid.sign-in .col.sign-in,
    .container-fluid.sign-up .col.sign-up {
        transform: translateY(0);
    }

    .content-row {
        align-items: flex-start !important;
    }

    .content-row .col {
        transform: translateY(0);
        background-color: unset;
    }

    .col {
        width: 100%;
        position: absolute;
        padding: 2rem;
        background-color: var(--white);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        transform: translateY(100%);
        transition: 1s ease-in-out;
    }

    .row {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .form,
    .social-list {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .text {
        margin: 0;
    }

    .text p {
        display: none;
    }

    .text h2 {
        margin: .5rem;
        font-size: 2rem;
    }

}