<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agency</title>
    <th:block layout:fragment="css">
        <!-- Custom fonts for this template -->
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

    </th:block>
    <th:block layout:fragment="script">

        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script>
            function infoModal(value) {

                console.log("infoModal", value.id)
                let data = {
                    "id": value.id,
                };
                $.ajax({
                    url: "/mydata/agencyTable/modal",
                    type: "get",
                    data: data,

                    success: (message) => {
                        $('#etcModal').modal('show');
                        document.getElementById("etcModalTbody").innerHTML = ""
                        let array = JSON.parse(message.responseText);
                        console.log(array)
                        createEtcModal(array);


                    },
                    error: (e) => {
                        console.log("통신 실패", e);
                    }
                })
            }

            /* 서비스 목록 모달 & callbackUrl <br> 추가 */
            function createEtcModal(array) {
                document.getElementById("etcModalTbody").innerHTML = ""
                let i = 0;

                for (i; i < array.length; i++) {
                    let tr = document.createElement("tr")
                    let clientId = document.createElement("td")
                    let serviceName = document.createElement("td")
                    let callbackUrl = document.createElement("td")
                    for (let j = 0; j < array[i].callbackUrl.length; j++) {
                        callbackUrl.append(array[i].callbackUrl[j] + "<br/>");
                    }
                    callbackUrl.innerHTML = callbackUrl.textContent
                    clientId.innerText = array[i].clientId
                    serviceName.innerText = array[i].mdServiceName

                    tr.append(clientId)
                    tr.append(serviceName)
                    tr.append(callbackUrl)
                    document.getElementById("etcModalTbody").append(tr);
                }
            }

            /* selectOne : 기관 클릭 시 개별 상세 모달 */
            function agencyModal(value) {
                console.log(value)
                console.log(value.parentNode)
                console.log("agencyModal", value.parentNode.id)

                let data = {
                    "id": value.parentNode.id,
                };
                $.ajax({
                    url: "/mydata/agencyTable/selectOne",
                    type: "get",
                    data: data,

                    success: (message) => {
                        $('#agencyModal').modal('show');
                        let list = JSON.parse(message.responseText);
                        createAgencyModal(list);
                        console.log(list)


                    },
                    error: (e) => {
                        console.log("통신 실패", e);
                    }
                })
            }


            function createAgencyModal(list) {
                //ipPort 초기화
                document.getElementById("ipPort").innerHTML = "";

                document.getElementById("code").innerText = list.code
                document.getElementById("division").innerText = list.division
                document.getElementById("name").innerText = list.name
                document.getElementById("industry").innerText = list.industry
                document.getElementById("address").innerText = list.address
                document.getElementById("domainName").innerText = list.domainName
                document.getElementById("publicApiIp").innerText = list.publicApiIp
                document.getElementById("authenticationMethod").innerText = list.authenticationMethod
                document.getElementById("TLSNum").innerText = list.TLSNum
                document.getElementById("ipPort").append(list.agencyIp)
                if (list.agencyPort != null) {
                    // document.append(" : ")

                    document.getElementById("ipPort").append(" / ")
                    document.getElementById("ipPort").append(list.agencyPort)
                }

            }

            /* 우측 상단 셀렉트 박스 변경시 리스트 체인지 */
            function selectChange(value) {

                console.log("selectChange")
                console.log(value)

                let data = {
                    "division": value,
                };
                $.ajax({
                    url: "/mydata/agencyTable/selectBox",
                    type: "get",
                    data: data,

                    success: (message) => {
                        document.getElementById("agencyListTbody").innerHTML = ""
                        let array = JSON.parse(message.responseText);
                        createAgencyList(array);
                        console.log(array)

                    },
                    error: (e) => {
                        console.log("통신 실패", e);
                    }
                })
            }

            function createAgencyList(array) {

                let i = 0;
                for (i; i < array.length; i++) {
                    let tr = document.createElement("tr")
                    let agCode = document.createElement("td")
                    let name = document.createElement("td")
                    let division = document.createElement("td")
                    let industry = document.createElement("td")
                    let note = document.createElement("td")
                    let deleteTd = document.createElement("td")
                    let btn = document.createElement("button")


                    agCode.append(array[i].code)
                    agCode.onclick = function () {
                        agencyModal(this)
                    }
                    division.append(array[i].division)
                    division.onclick = function () {
                        agencyModal(this)
                    }
                    name.append(array[i].name)
                    name.onclick = function () {
                        agencyModal(this)
                    }
                    industry.append(array[i].industry)
                    industry.onclick = function () {
                        agencyModal(this)
                    }
                    // <td onClick="infoModal(this)" th:id="${agencyList.id}"><i className="fa-solid fa-braille"
                    // style="cursor: pointer"></i></td>

                    btn.className = "btn-sm btn-danger rounded-pill";
                    $(btn).attr("onclick", "deleteRow(this)");
                    btn.innerText = "삭제"

                    deleteTd.append(btn);

                    note.onclick = function () {
                        infoModal(this);
                    };
                    note.id = array[i].id
                    let icon = document.createElement("i")
                    icon.className = "fa-solid fa-braille";
                    icon.style.cursor = "pointer"
                    note.append(icon)

                    tr.id = array[i].id
                    tr.append(agCode, division, name, industry, note, deleteTd);

                    document.getElementById("agencyListTbody").append(tr)
                }
            }

            /* 기관 관리 삭제 */
            function deleteRow(value) {
                console.log(value.parentNode.parentNode.id)
                let data = {
                    "id": value.parentNode.parentNode.id,
                };

                Swal.fire({
                    showCancelButton: true,
                    cancelButtonText: "취소",
                    confirmButtonText: "확인",
                    icon: 'warning',
                    text: "메소드를 삭제하시겠습니까??"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '삭제 성공',
                            icon: 'success'
                        }).then(() => {
                            $.ajax({
                                url: "/mydata/agencyTable/delete",
                                type: "get",
                                data: data,

                                success: (message) => {
                                    // 1. 리다이렉트
                                    location.href = '/mydata/agencyTable';
                                },
                                error: (e) => {
                                    console.log("통신 실패", e);
                                }
                            })
                        })
                    }
                });
            }


        </script>
    </th:block>
    <style>
        .tdContent:hover {
            background-color: #f5f6fb;
        }

        .tdHead {
            background-color: #f5f5f5;
            width: 30%;
        }

        .trContent {
            vertical-align: middle;
        !important;
        }

        .borderTop {
            border-top: 1px solid #dee2e6;
        }

        td {
            vertical-align: middle !important;
        }
    </style>

</head>

<body>

<!-- Page Wrapper -->
<div layout:fragment="content">


    <!-- Begin Page Content -->
    <div class="container-fluid mr-4">
        <!--메인화면(계정목록)-->
        <!-- Page Heading -->
        <div class="wrapper" style="margin-bottom: 5px">
            <h1 class="h3 mb-2 text-gray-800" style="margin-left: 12px">마이데이터 기관목록</h1>
        </div>
        <div class="card shadow mb-4">
            <div class="d-flex justify-content-end p-3">
                <!--     select box           -->
                <select class="custom-select" style="width: 30%" onchange="selectChange(value)">
                    <option selected>전체</option>
                    <option value="정보제공자(API 자체구축)">정보제공자(API 자체구축)</option>
                    <option value="정보제공자(중계기관이용)">정보제공자(중계기관이용)</option>
                    <option value="마이데이터사업자">마이데이터사업자</option>
                    <option value="중계기관">중계기관</option>
                    <option value="통합인증기관(인증서 본인확인 기관)">통합인증기관(인증서 본인확인 기관)</option>
                    <option value="통합인증기관(전자서명인증사업자)">통합인증기관(전자서명인증사업자)</option>
                    <option value="종합포털">종합포털</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <!--기관정보테이블 시작-->
            <div class="card-body table-responsive">
                <table class="table table-hover"
                       style="text-align: center; font-size: 14px">
                    <thead>
                    <tr style="font-weight: bold; background-color: #f5f6fb;">
                        <th>기관코드</th>
                        <th>기관구분</th>
                        <th>기관명</th>
                        <th>업권</th>
                        <th>비고</th>
<!--                        <th>삭제</th>-->
                    </tr>
                    </thead>
                    <tbody id="agencyListTbody">

                    <tr class="trContent" th:each="agencyList : ${agencyList}" th:id="${agencyList.id}">
                        <td data-bs-toggle="modal" onclick="agencyModal(this)" th:text="${agencyList.code}"></td>
                        <td data-bs-toggle="modal" onclick="agencyModal(this)" th:text="${agencyList.division}"></td>
                        <td data-bs-toggle="modal" onclick="agencyModal(this)" th:text="${agencyList.name}"></td>
                        <td data-bs-toggle="modal" onclick="agencyModal(this)" th:text="${agencyList.industry}"></td>
                        <!--                        <td data-bs-toggle="modal" data-bs-target="#etcModal"><i class="fa-solid fa-braille"-->
                        <!--                                                                                 style="cursor: pointer"></i></td>-->
                        <td onclick="infoModal(this)" th:id="${agencyList.id}"><i class="fa-solid fa-braille"
                                                                                  style="cursor: pointer"></i></td>
<!--                        <td>-->
<!--                            <button class="btn-sm btn-danger" onclick="deleteRow(this)">삭제</button>-->
<!--                        </td>-->
                    </tr>


                    </tbody>
                </table>
                <!-- 기관 정보 모달  -->
                <div class="modal fade tab" id="agencyModal" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>마이데이터 기관 정보</h4>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="w-100 p-2">
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">기본 정보</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        기관코드
                                                    </td>
                                                    <td class="tdContent" id="code">

                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        기관구분
                                                    </td>
                                                    <td class="tdContent" id="division">

                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        기관명
                                                    </td>
                                                    <td class="tdContent" id="name">

                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        업권
                                                    </td>
                                                    <td class="tdContent" id="industry">

                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        주소
                                                    </td>
                                                    <td class="tdContent" id="address">

                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">도메인</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        API서버 도메인명
                                                    </td>
                                                    <td class="tdContent" id="domainName">

                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        API서버 공인IP
                                                    </td>
                                                    <td class="tdContent" id="publicApiIp">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">인증</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        제공 인증방식
                                                    </td>
                                                    <td class="tdContent" id="authenticationMethod">

                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        TLS 인증서 시리얼넘버
                                                    </td>
                                                    <td class="tdContent" id="TLSNum">

                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">IP</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        IP 및 PORT
                                                    </td>
                                                    <td class="tdContent" id="ipPort">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 기관 정보 모달 끝  -->

                <!-- 비고에 있는 서비스 목록 모달-->
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="etcModal" tabindex="-1">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>서비스 목록</h4>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body table-responsive">
                                <table class="table table-hover"
                                       style="text-align: center; font-size: 14px">
                                    <thead>
                                    <tr style="font-weight: bold; background-color: #f5f6fb;">
                                        <th>클라이언트 ID</th>
                                        <th>서비스명</th>
                                        <th>callback URL</th>
                                    </tr>
                                    </thead>
                                    <tbody id="etcModalTbody">

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    닫기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 비고에 있는 서비스 목록 모달 끝-->

                <!-- 서비스 정보 모달 -->
                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="serviceModal"
                     tabindex="-1" style="overflow-y: auto;">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>마이데이터 서비스 정보</h4>
                                <button type="button" class="close" data-bs-toggle="modal" data-bs-target="#etcModal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="w-100 p-2">
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">기본 정보</h5>
                                        </div>
                                        <div class="p-4 table-responsive">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        클라이언트 ID
                                                    </td>
                                                    <td class="tdContent">
                                                        lrkFiDveCxHtQVRrnjMlEEqZFeZjqReOQtEazAKQnWpLZONo
                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        서비스명
                                                    </td>
                                                    <td class="tdContent">
                                                        123456789012345678901234567890
                                                    </td>
                                                </tr>
                                                <tr class="borderTop">
                                                    <td class="tdHead">
                                                        클라이언트 Secret
                                                    </td>
                                                    <td class="tdContent">
                                                        2b1d5240618759d199684ba6bbe0803a
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">Callback URL</h5>
                                        </div>
                                        <div class="p-4 table-responsive">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <!-- rowspan 에 callback URL 갯수 들어가야 함-->
                                                    <td class="tdHead" rowspan="2" style="vertical-align: middle">
                                                        callback URL
                                                    </td>

                                                    <td class="tdContent">
                                                        https://www.yu.kr/
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="tdContent">
                                                        https://ian.kr/
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#etcModal">
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 서비스 정보 모달 끝-->
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
</html>