<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .tdContent:hover {
            background-color: #f5f6fb;
        }

        .tdHead {
            background-color: #f5f5f5;
        }
    </style>

    <title>INFINITY MANAGER</title>

    <th:block layout:fragment="css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    </th:block>

    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/mydata/mdProviderTable.js"></script>

    </th:block>

</head>

<body>
<div layout:fragment="content">

    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">정보제공 API 거래이력</h1>
                    <p class="mb-4"></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <!-- Topbar Search -->
                        <div class=" row" style="    display: flex;justify-content: space-between;">
                            <div class="col-md-7 m-3">
                                <label for="input_date">&nbsp;&nbsp;조회날짜</label>
                                <input type="date" id="input_date" name="input_date"
                                       style="width: 220px; text-align: center;">
                                <input type="submit" onclick="input(this)" id="input_submit" value="조회">
                            </div>
                            <!-- Topbar Search -->
                            <form action="/mydata/providerSearch" method="get" class="col input-group mt-3 mr-3" style="width: 40%; align-self: end;">
                                <input type="text" class="form-control m-0"
                                       placeholder="검색어를 입력해주세요( API코드, 거래고유번호, 통합고객번호 )"
                                       aria-label="Search" name="keyword">
                                <div class="input-group-append">
                                    <button class="btn btn-sm" type="submit" style="background-color: black; color: white" >
                                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> 조회
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable"
                                       style="text-align: center; font-size: 13px">
                                    <thead>
                                    <tr style=" width: -webkit-fill-available; font-weight: bold; background-color: #f5f6fb;">
                                        <td>요청일</td>
                                        <td>요청시간</td>
                                        <td>응답일자</td>
                                        <td>응답시간(sec)</td>
                                        <td>응답코드</td>
                                        <td>API코드</td>
                                        <td>통합고객번호</td>
<!--                                        <td>정기적 전송</td>-->
                                        <td>거래고유번호</td>
                                        <td>전송요구타입</td>

                                    </tr>
                                    </thead>

                                    <tbody id="userNumTbody">
                                    <!-- calendar 조회 바뀌는 부분 -->
                                    <tr class="trContent" th:each="list : ${list}" th:id="${list.id}"
                                        data-bs-toggle="modal" data-bs-target="#providerModal"
                                        onclick="providerModal(this)">
                                        <td th:text="${list.reqDate}"></td>
                                        <td th:text="${list.reqTime}"></td>
                                        <td th:text="${list.resDate}"></td>
                                        <td th:text="${list.runtime}"></td>
                                        <td th:text="${list.resCode}"></td>
                                        <td th:text="${list.apiCode}"></td>
                                        <td th:text="${list.customerNum}"></td>
<!--                                        <td th:text="${list.regularTransmission}"></td>-->
                                        <td th:text="${list.uniqueNum}"></td>
                                        <td th:text="${list.statusInfo}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                <!-- Button trigger modal -->

                <!-- details info Modal start -->
                <div class="modal fade" id="providerModal" tabindex="-1" role="dialog"
                     aria-labelledby="providerModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="providerModalLabel">정보제공 API 거래이력</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modalDark" style="overflow-y: scroll;overflow-x: hidden">
                                <h5 class="mb-1">
                                    기본 정보
                                </h5>
                                <table class="table table-bordered align-middle"
                                       style="width: -webkit-fill-available; font-size: 15px">
                                    <tbody>
                                    <tr>
                                        <td class="tdHead">전송요구SEQ</td>

                                        <td class="tdContent" style="display: flex">
                                            <h6 class="mr-4 mt-2 mb-1" id="reqSEQ"></h6>
                                            <button class="badge badge-dark" id="beDark" data-bs-toggle="modal"
                                                    style="cursor: pointer;"
                                                    data-bs-target="#requestModal">전송요구정보
                                            </button>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="tdHead">기관명:서비스명</td>
                                        <td class="tdContent" id="name"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">URI</td>
                                        <td class="tdContent" id="apiResources"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead" style="vertical-align: middle">요청헤더</td>
                                        <td class="tdContent">
                                            <textarea disabled id="reqHeader"
                                                      style="height: 150px; width: -webkit-fill-available;"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">응답메세지</td>
                                        <td class="tdContent" id="resMsg">200</td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead" style="vertical-align: middle">응답데이터</td>
                                        <td class="tdContent">
                                            <textarea style="height: 150px; width: -webkit-fill-available;" id="resData"
                                                      disabled></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- details info Modal start -->
                <div class="modal fade" id="requestModal" tabindex="-1" role="dialog"
                     aria-labelledby="requestModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="requestModalLabel">전송요구내역</h5>
                                <button type="button" class="close" aria-label="Close" data-bs-target="#exampleModal"
                                        data-bs-toggle="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="overflow-x: hidden">
                                <h5 class="mb-1">
                                    기본 정보
                                </h5>
                                <table class="table table-bordered align-middle"
                                       style="width: -webkit-fill-available;font-size: 15px;">
                                    <tbody>
                                    <tr>
                                        <td class="tdHead">기관코드</td>
                                        <td colspan="3" class="tdContent" id="code">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">기관명</td>
                                        <td class="tdContent" id="agencyName"></td>
                                        <td class="tdHead">서비스명</td>
                                        <td class="tdContent" id="serviceName"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">전송요구타입</td>
                                        <td colspan="3" class="tdContent" id="reqType">reqType
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">통합고객번호</td>
                                        <td colspan="3" class="tdContent" id="consumerNum"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">상태정보</td>
                                        <td class="tdContent" id="statusInfo" colspan="3">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">토큰유효기간</td>
                                        <td class="tdContent" id="tokenExpiryDate" colspan="3">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">닫기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->
            <!-- details info Modal end -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
</body>

</html>