<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>INFINITY MANAGER</title>
    <th:block layout:fragment="css">
        <!-- Custom fonts for this template -->
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

    </th:block>
    <th:block layout:fragment="script">

        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/mydata/mdServiceControl.js"></script>
    </th:block>
    <style>
        .tdContent:hover {
            background-color: #f5f6fb;
        }

        .tdHead {
            background-color: #f5f5f5;
            width: 25%;
        }

        .trContent {
            vertical-align: middle;
        !important;
        }
    </style>

</head>

<body>

<!-- Page Wrapper -->
<div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid mr-4">
        <!--메인화면(계정목록)-->
        <!-- Page Heading -->
        <div class="wrapper" style="margin-bottom: 5px">
            <h1 class="h3 mb-2 text-gray-800" style="margin-left: 12px">마이데이터 서비스목록</h1>
        </div>
        <div class="card shadow mb-4">
            <!--검색어 입력창-->
            <div class="card-body">
                <form action="/mydata/service/search" method="get">
                    <div id="search" class="col-md-4 input-group"
                         style="float:right; margin: 0; !important;">
                        <input type="text" class="form-control"
                               placeholder="검색어를 입력해주세요(ID, 이름)"
                               aria-label="Search" aria-describedby="basic-addon2" name="keyword"><br>
                        <div class="input-group-append">
                            <button class="btn btn-dark btn-sm" type="submit">
                                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> 조회
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--검색어 입력창-->
            <!--유저정보테이블 시작-->
            <div class="card-body">
                <table class="table table-hover" id="dataTable"
                       style="text-align: center; font-size: 15px">
                    <thead>
                    <tr style="font-weight: bold; background-color: #f5f6fb;">
                        <th>클라이언트 ID</th>
                        <th>서비스명</th>
                        <th>기관명</th>
                        <th>기관코드</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="trContent" th:each="list : ${list}" th:id="${list.id}">
                        <td data-bs-toggle="modal" onclick="serviceInfoModal(this)" th:text="${list.clientId}"></td>
                        <td data-bs-toggle="modal" onclick="serviceInfoModal(this)"
                            th:text="${list.mdServiceName}"></td>
                        <td data-bs-toggle="modal" onclick="serviceInfoModal(this)" th:text="${list.name}"></td>
                        <td data-bs-toggle="modal" onclick="serviceInfoModal(this)" th:text="${list.code}"></td>
                    </tr>

                    </tbody>
                </table>
                <!-- 서비스 모달 -->
                <div class="modal fade" id="serviceInfoModal" tabindex="-1">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>마이데이터 서비스 정보</h4>
                            </div>
                            <div class="modal-body">
                                <div class="w-100 p-2">
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">기본 정보</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        클라이언트 ID
                                                    </td>
                                                    <td class="tdContent" id="clientId">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        서비스명
                                                    </td>
                                                    <td class="tdContent" id="mdServiceName">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">Callback URL</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody id="callbackUrlTbody">


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
<!--                                                                                                            -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        닫기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 서비스 모달 끝 -->
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
</html>