<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .tdContent:hover {
            background-color: #f5f6fb;
        }

        .tdHead {
            background-color: #f5f5f5;
            width: 25%;
        }

    </style>

    <title>계정 목록</title>

    <th:block layout:fragment="css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </th:block>

    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function removeAlert() {
                console.log("alert")
                Swal.fire({
                    showCancelButton: true,
                    cancelButtonText: "취소",
                    confirmButtonText: "확인",
                    icon: 'warning',
                    text: "리소스 권한 요청을 삭제하시겠습니까?"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '삭제 완료',
                            icon: 'success'
                        }).then(() => {

                        })
                    }
                });
            }

            // 토근 발급 목록 detail 모달 ajax
            function tokenDetail(value) {
                console.log(value);
                let tokenId = value.getAttribute("token_id");
                console.log("tokenIDdddddddd= ",tokenId)
                let data = {
                    "id": tokenId,
                }

                $.ajax({
                    url: "/mydata/token/modal",
                    data: data,
                    type: "get",

                    success: (message) => {
                        console.log(message)

                        document.getElementById("clientId").innerText = message.clientId;
                        document.getElementById("userInfo").innerText = message.consumerNum;
                        document.getElementById("mdServiceName").innerText = message.mdServiceName;
                        document.getElementById("agencyName").innerText = message.agencyName;
                        document.getElementById("agencyCode").innerText = message.code;
                        document.getElementById("accessToken").innerText = message.accessToken;
                        document.getElementById("entryTime").innerText = message.createDate;
                        document.getElementById("endTime").innerText = message.endDate;

                    }
                })
            }

        </script>
    </th:block>

</head>

<body>
<div layout:fragment="content">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">접근 토큰발급목록</h1>
                    <p class="mb-4"></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <!-- Topbar Search -->
                        <form action="/mydata/tokenSearch" method="get" class="col input-group mt-3" style="width: 40%; align-self: end;">
                            <input type="text" class="form-control m-0"
                                   placeholder="검색어를 입력해주세요( 사용자, 기관코드, 기관명 )"
                                   aria-label="Search" name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-dark btn-sm" type="submit">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> 조회
                                </button>
                            </div>
                        </form>
                        <!--                        </div>-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable"
                                       style="text-align: center; font-size: 13px">
                                    <thead>
                                    <tr style=" width: -webkit-fill-available; font-weight: bold; background-color: #f5f6fb;">
                                        <th>클라이언트ID</th>
                                        <th>서비스명</th>
                                        <th>기관명</th>
                                        <th>기관코드</th>
                                        <th>발급일자</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr data-bs-toggle="modal" data-bs-target="#exampleModal" th:each="list:${astList}"
                                        th:token_id="${list.mdTokenDTO.tokenId}" onclick="tokenDetail(this)">
                                        <td id="tableId" th:text="${list.mdServiceDTO.clientId}">
                                        </td>
                                        <td th:text="${list.mdServiceDTO.mdServiceName}">
                                        </td>
                                        <td th:text="${list.name}"></td>
                                        <td th:text="${list.code}">
                                        </td>
                                        <td th:text="${#dates.format(list.mdTokenDTO.createDate, 'yyyy-MM-dd HH:mm')}">
                                        </td>
                                        <!--삭제 활동 끝-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->


                <!--요청정보 모달 시작-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">요청상세정보</h5>
                            </div>
                            <div class="modal-body" style="overflow-x: hidden">
                                <div class="w-100 p-2">
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">기본 정보</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        클라이언트 ID
                                                    </td>
                                                    <td class="tdContent" id="clientId">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        사용자 정보(CI)
                                                    </td>
                                                    <td class="tdContent" id="userInfo">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        서비스명
                                                    </td>
                                                    <td class="tdContent" id="mdServiceName">

                                                    </td>
                                                </tr>

                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        기관명
                                                    </td>
                                                    <td class="tdContent" id="agencyName">

                                                    </td>
                                                </tr>

                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        기관코드
                                                    </td>
                                                    <td class="tdContent" id="agencyCode">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">Access Token</h5>
                                        </div>
                                        <div class="p-4" style="overflow-x:auto;">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        발급한 Access Token
                                                    </td>
                                                    <td class="tdContent" id="accessToken"
                                                        >

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        발급시간
                                                    </td>
                                                    <td class="tdContent" id="entryTime">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        Access Token 폐기일
                                                    </td>
                                                    <td class="tdContent" id="endTime">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!--유저정보 모달 끝-->
    </div>
    <!-- 역할 Modal -->
    <div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roleModalLabel">역할 추가 / 삭제</h5>
                    <div class="" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    ><i class="fa-solid fa-xmark" style="color: #7f7f7f;"></i></div>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="운영자" name="normal" id="admin">
                        <label class="form-check-label" for="admin">
                            운영자
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="일반사용자" name="normal" id="normal">
                        <label class="form-check-label" for="normal">
                            일반사용자
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="API제공자" name="api" id="api">
                        <label class="form-check-label" for="api">
                            API제공자
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="마이데이터 사업자" name="md" id="md">
                        <label class="form-check-label" for="md">
                            마이데이터 사업자
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="checkRole()"
                            id="roleBtn"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>

</html>