<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .tdContent:hover {
            background-color: #f5f6fb;
        }

        .tdHead {
            background-color: #f5f5f5;
        }
    </style>

    <title>계정 목록</title>

    <th:block layout:fragment="css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </th:block>

    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script>
            function removeAlert() {
                console.log("alert")
                Swal.fire({
                    showCancelButton: true,
                    cancelButtonText: "취소",
                    confirmButtonText: "확인",
                    icon: 'warning',
                    text: "리소스 권한 요청을 삭제하시겠습니까?"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '삭제 완료',
                            icon: 'success'
                        }).then(() => {

                        })
                    }
                });
            }

            function checkRole() {
                let admin = document.getElementById('admin');
                let normal = document.getElementById('normal');
                let api = document.getElementById('api');
                let md = document.getElementById('md');

                let adminBadge = $(document.createElement("span")).addClass("badge badge-secondary admin").attr('style', "margin-right:2px").text(admin.value);
                let normalBadge = $(document.createElement("span")).addClass("badge badge-secondary normal").attr('style', "margin-right:2px").text(normal.value);
                let apiBadge = $(document.createElement("span")).addClass("badge badge-secondary api").attr('style', "margin-right:2px").text(api.value);
                let mdBadge = $(document.createElement("span")).addClass("badge badge-secondary md").attr('style', "margin-right:2px").text(md.value);

                let radimin = document.querySelector('.admin');
                let rnormal = document.querySelector('.normal');
                let rapi = document.querySelector('.api');
                let rmd = document.querySelector('.md');

                if (admin.checked && radimin == null) {
                    $('#target').append(adminBadge);
                } else if (radimin != null && !admin.checked) {
                    $('.admin').remove();
                }

                if (normal.checked && rnormal == null) {
                    $('#target').append(normalBadge);
                } else if (rnormal != null && !normal.checked) {
                    $('.normal').remove();
                }

                if (api.checked && rapi == null) {
                    $('#target').append(apiBadge);
                } else if (rapi != null && !api.checked) {
                    $('.api').remove();
                }

                if (md.checked && rmd == null) {
                    $('#target').append(mdBadge);
                } else if (rmd != null && !md.checked) {
                    $('.md').remove();
                }
            }

        </script>
    </th:block>

</head>

<body>
<div layout:fragment="content">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">접근 토큰발급목록</h1>
                    <p class="mb-4"></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <!-- Topbar Search -->
                        <div class="col input-group mt-3" style="width: 25%; align-self: end;">
                            <input type="text" class="form-control"
                                   placeholder="검색어를 입력해주세요"
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"
                                        style="height: 38px;">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        <!--                        </div>-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable"
                                       style="text-align: center; font-size: 13px">
                                    <thead>
                                    <tr style=" width: -webkit-fill-available; font-weight: bold; background-color: #f5f6fb;">
                                        <th>클라이언트ID</th>
                                        <th>사용자</th>
                                        <th>서비스명</th>
                                        <th>기관명</th>
                                        <th>기관코드</th>
                                        <th>발급일자</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr data-bs-toggle="modal" data-bs-target="#exampleModal">

                                        <td id="tableId">
                                            yTGYvaNYtCOectRcfnsviayDzGIEHthUqBSdvlZPikFvUmqW
                                        </td>
                                        <td id="tableName">최용훈
                                        </td>
                                        <td>
                                            기업은행 테스트
                                        </td>
                                        <td> 중소기업은행</td>
                                        <td>
                                            A1AAEO0000
                                        </td>
                                        <td>
                                            2021-09-23 11:03
                                        </td>
                                        <!--삭제 활동 끝-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->


                <!--요청정보 모달 시작-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">요청상세정보</h5>

                            </div>
                            <div class="modal-body" id="modalDark" style="overflow-x: hidden">

                                <table class="table table-bordered align-middle"
                                       style="width: -webkit-fill-available; font-size: 15px">
                                    <tbody>
                                    <tr>
                                        <td class="col-2 tdHead">클라이언트 ID</td>
                                        <td>GTrnmyGXBQlRqneuORuENJfFYjKdHBHaQZlf</td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">사용자 정보(CI)</td>
                                        <td colspan="3">40112633</td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">서비스명</td>
                                        <td colspan="3">
                                            핀다
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">기관명</td>
                                        <td colspan="3">(주)핀다</td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">기관명</td>
                                        <td colspan="3">ZVAALO0000</td>
                                    </tr>

                                    </tbody>
                                </table>
                                <table class="table table-bordered align-middle"
                                       style="width: -webkit-fill-available; font-size: 15px">
                                    <tbody>
                                    <tr>
                                        <td class="col-2 tdHead" style="vertical-align: inherit !important;">발급한<br>Accecc Token
                                        </td>
                                        <td style="word-break: break-all;">
                                            eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJaVkFBTE8wMDAwIiwianRpIjoiMTMyMCIsImlzcyI6Im15ZGF0YXQua3lvYm8uY29tIiwic3ViIjoiaHZVWDNnUEVhWWs0YUhOMm5wNnpuWkl4MDVWaVlHWWMiLCJzY29wZSI6Im1hbmFnZSIsImV4cCI6MTY0NTc2Mzc1MywiaWF0IjoxNjM3OTg3NzUzfQ.m7PU7VGT67vG4lqHkG37_ClLimPEXwSl1ft9ttQjsXBTE1SqcgFQn0vmgLq9zJjuO9nxQPaAdci2wU1MvZq-419H9Bu1Ubp2-TCRN080dlPLIDyByofZLGtcabs2o5pmUqT2yMoPo51bcan-jqqGMUy3yzvkaVW8o4aaud9rudu6zFWVSOHmdvWKPY0iL_CXNM1ShSpS2FXcwBOi3NI7LTqdI0YD3pzU1lYsAPHu-_Fk0OZoKwYL0ITzOcJY5EJgXjsOr_E9C7cHrs_O8lk1SkTgQWUG8oGo5phyt5WKM-uMR8o3B388zqA3cHc6sxNJtiS9sSvDv9cN6x9FwkVIyA
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">발급시간</td>
                                        <td colspan="3">2021-11-27 13:35</td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">Accecc Token 폐기일</td>
                                        <td colspan="3">
                                            2023-11-27 13:35
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!--유저정보 모달 끝-->
    </div>
    <!-- 역할 Modal -->
    <div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roleModalLabel">역할 추가 / 삭제</h5>
                    <div class="" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    ><i class="fa-solid fa-xmark" style="color: #7f7f7f;"></i></div>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="운영자" name="normal" id="admin">
                        <label class="form-check-label" for="admin">
                            운영자
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="일반사용자" name="normal" id="normal">
                        <label class="form-check-label" for="normal">
                            일반사용자
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="API제공자" name="api" id="api">
                        <label class="form-check-label" for="api">
                            API제공자
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="마이데이터 사업자" name="md" id="md">
                        <label class="form-check-label" for="md">
                            마이데이터 사업자
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="checkRole()"
                            id="roleBtn"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>

</html>