<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        .tdContent:hover {
            background-color: #f5f6fb;
        }

        .tds {
            font-size: 14px;
        }

        .trContent {
            vertical-align: middle;
        !important;
        }

        tr th {
            background-color: #f5f5f5 !important;
        }

        .tdHead {
            background-color: #f5f5f5 !important;
            font-size: 14px;
            width: 30% !important;

        }
    </style>

    <title>전송요구내역</title>

    <th:block layout:fragment="css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    </th:block>

    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            function providerDetailModal(value) {
                let tbody = document.getElementById("userNumTbody");
                tbody.innerHTML = "";
                console.log("providerDetailModal=========");
                let clientNum = value.getAttribute("client_num");
                console.log(clientNum);
                // date 조회 할 때 고객번호 param으로 사용하기 위해
                let forDate = document.getElementById("input_submit");
                $(forDate).attr("cnum", clientNum);

                let data = {
                    "customerNum": clientNum,
                };
                $.ajax({
                    url: "/mydata/provider/customerList",
                    type: "get",
                    data: data,

                    success: (message) => {
                        let plist = JSON.parse(message.providerList);
                        console.log(plist);
                        let col_cnt = Object.keys(plist[0]).length;
                        for (let i = 0; i < plist.length; i++) {
                            let tr = document.createElement("tr");
                            tr.style.fontSize = '14px';

                            // for (let data in plist[i]) {
                            //     let td = document.createElement("td");
                            //     td.id = plist[i]["id"];
                            //     td.innerText = plist[i][data];
                            //     tr.append(td);
                            // }

                            let keys = Object.keys(plist[i]);
                            $(tr).attr({
                                "data-bs-toggle": "modal",
                                "data-bs-target": "#detailModal",
                                "onclick": "providerDetailInfo(this)"
                            });
                            tr.id = plist[i]["id"];
                            for (let j = 1; j < col_cnt; j++) {
                                let key = keys[j];

                                let td = document.createElement("td");
                                td.innerText = plist[i][key];
                                tr.append(td);
                            }
                            tbody.append(tr);
                        }
                    }
                })
            }

            function providerDetailInfo(value) {
                let tbody = document.getElementById("userNumTbody");
                tbody.innerHTML = "";
                let id = value.getAttribute("id");
                console.log("id=", id);
                let data = {
                    "id":id,
                }
                $.ajax({
                    url:"/mydata/provider/selectOne",
                    data : data,
                    type: "get",

                    success: (message) =>{
                        let plist = JSON.parse(message.providerList);
                        console.log(plist);
                        let col_cnt = Object.keys(plist[0]).length;
                        for (let i = 0; i < plist.length; i++) {
                            let tr = document.createElement("tr");
                            tr.style.fontSize = '14px';

                            let keys = Object.keys(plist[i]);
                            $(tr).attr({
                                "data-bs-toggle": "modal",
                                "data-bs-target": "#detailModal",
                                "onclick": "providerDetailInfo(this)"
                            });
                            tr.id = plist[i]["id"];
                            for (let j = 1; j < col_cnt; j++) {
                                let key = keys[j];

                                let td = document.createElement("td");
                                td.innerText = plist[i][key];
                                tr.append(td);
                            }
                            tbody.append(tr);
                        }
                    }
                })
            }

            function input(value) {
                let tbody = document.getElementById("userNumTbody");
                tbody.innerHTML = "";
                let dday = document.getElementById("input_date").value;
                let cnum = value.getAttribute("cnum");
                console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
                console.log(cnum);
                console.log(dday);
                let data = {
                    "dday" :dday,
                    "customerNum": cnum,
                }
                $.ajax({
                    url:"/mydata/calendar",
                    type:"get",
                    data :data,

                    success: (message) => {

                        console.log("calendar!!!!!!!!!!!!!!!!!!!!!!!!!!")
                        let plist = JSON.parse(message.providerList);
                        console.log(plist);
                        let col_cnt = Object.keys(plist[0]).length;
                        console.log(col_cnt);
                        for (let i = 0; i < plist.length; i++) {
                            let tr = document.createElement("tr");
                            tr.style.fontSize = '14px';

                            let keys = Object.keys(plist[i]);
                            $(tr).attr({
                                "data-bs-toggle": "modal",
                                "data-bs-target": "#detailModal",
                                "onclick": "providerDetailInfo(this)"
                            });
                            tr.id = plist[i]["id"];
                            for (let j = 1; j < col_cnt; j++) {
                                let key = keys[j];

                                let td = document.createElement("td");
                                td.innerText = plist[i][key];
                                tr.append(td);
                            }
                            tbody.append(tr);
                        }
                    }
                })


            }

        </script>
    </th:block>

</head>

<body>
<div layout:fragment="content">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid p-0 pl-1">

                    <!-- Page Heading -->
                    <h3 class="h3 mb-2 text-gray-800">전송요구내역(전송이동권)</h3>
                    <p class="mb-4"></p>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <!-- Topbar Search -->
                        <div class=" row" style="    display: flex;justify-content: space-between;">
                            <div class="col-md-7 m-3">
                                <div>상태정보 구분</div>
                                <select class="form-control" id="statusInfo" style="width: 50%;">
                                    <option selected>전체</option>
                                    <option>(통합인증)자산목록</option>
                                    <option>(통합인증)자산선택</option>
                                    <option>(개별인증)인가코드</option>
                                    <option>(개별인증)토큰발급</option>
                                    <option>[토큰준비]자산목록(통합) + 인가코드(개별)</option>
                                    <option>[토큰생성]자산목록(통합) + 토큰발급(개별)</option>
                                </select>
                            </div>
                            <div class="col-md-3 input-group m-3">
                                <input type="text" class="form-control"
                                       placeholder="검색어를 입력해주세요"
                                       aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"
                                            style="height: 38px;">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable"
                                       style="text-align: center; font-size: 13px">
                                    <thead>
                                    <tr style=" width: -webkit-fill-available; font-weight: bold; background-color: #f5f6fb;">
                                        <td>기관코드</td>
                                        <td>기관명</td>
                                        <td>서비스명</td>
                                        <td>전송요구타입</td>
                                        <td>정보주체번호</td>
                                        <!--                                        <td>전송주기(기본,추가)</td>-->
                                        <td>상태정보</td>
                                        <!--                                        <td>전송준비일</td>-->
                                        <td>전송요구일</td>
                                        <td>전송요구 종료일</td>
                                        <td>토큰 유효기간</td>
                                        <!--                                        <td>토큰폐기일</td>-->
                                        <td>자산|토큰</td>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="list:${list}" th:client_num="${list.customerNum}"
                                        onclick="providerDetailModal(this)">
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="${list.mdReqInfoDTO.code}"></td>
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="${list.mdReqInfoDTO.agencyName}"></td>
                                        <td style="color: #0d6efd; font-weight: bold;" data-bs-toggle="modal"
                                            data-bs-target="#providerModal"
                                            th:text="${list.mdReqInfoDTO.serviceName}"></td>
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="${list.mdReqInfoDTO.reqType}"></td>
                                        <td style="color: #0d6efd; font-weight: bold;" data-bs-toggle="modal"
                                            data-bs-target="#providerModal" th:text="${list.customerNum}"></td>
                                        <!--                                        <td data-bs-toggle="modal" data-bs-target="#providerModal">1/w,1/w</td>-->
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="${list.statusInfo}"></td>
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="|${list.reqDate} ${list.reqTime}|"></td>
                                        <!--                                        <td data-bs-toggle="modal" data-bs-target="#providerModal">2021-11-15 17:09:52</td>-->
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="${list.resDate}"></td>
                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"
                                            th:text="${#dates.format(list.mdReqInfoDTO.tokenExpiryDate, 'yyyy-MM-dd')}"></td>
                                        <!--                                        <td data-bs-toggle="modal" data-bs-target="#providerModal"></td>-->
                                        <td><i class="fa-solid fa-file-lines" style="cursor: pointer; margin-right: 5px"
                                               data-toggle="tooltip" data-bs-toggle="modal" data-bs-target="#assetModal"
                                               title="자산목록"></i> <i class="fa-solid fa-file-shield"
                                                                    data-bs-toggle="modal" data-bs-target="#tokenModal"
                                                                    style="cursor: pointer" data-toggle="tooltip"
                                                                    title="발급 토큰 정보"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                <!-- Button trigger modal -->

                <!-- details info Modal start -->
                <div class="modal fade" id="providerModal" tabindex="-1" role="dialog"
                     aria-labelledby="providerModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" id="providerModalLabel" style="color: black">
                                    거래이력(제공자)</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="modalDark">
                                <div class="w-100 border overflow-auto">
                                    <div class="border-bottom p-3 font-weight-bold" style="color: black">거래이력</div>
                                    <div class="mt-2">
                                        <label for="input_date">&nbsp;&nbsp;조회날짜</label>
                                        <input type="date" id="input_date" name="input_date"
                                               style="width: 220px; text-align: center;">
                                        <input type="submit" onclick="input(this)" id="input_submit" value="조회">
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr class="tdHead">
                                            <td>요청일자</td>
                                            <td>요청시간</td>
                                            <td>응답일자</td>
                                            <td>응답시간(sec)</td>
                                            <td>응답 Code</td>
                                            <td>요청API Code</td>
                                            <td>통합고객번호</td>
                                            <td>정기적 전송</td>
                                        </tr>
                                        </thead>
                                        <tbody id="userNumTbody">
                                        <!-- createElement -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- details info Modal start -->
                <div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                     aria-labelledby="detailModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" style="color: black" id="detailModalLabel">
                                    거래이력(제공자)-상세</h5>
                                <button type="button" class="close" aria-label="Close" data-bs-target="#providerModal"
                                        data-bs-toggle="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="overflow-x: hidden">
                                <div class="w-100 border overflow-auto">
                                    <div class="border-bottom p-3 font-weight-bold" style="color: black">거래이력</div>
                                    <table class="table table-bordered align-middle"
                                           style="width: -webkit-fill-available;font-size: 15px;">
                                        <tbody>
<!--                                        <tr>-->
<!--                                            <td class="tdHead">거래이력 SEQ</td>-->
<!--                                            <td colspan="3" class="tdContent">TRH_1332035460658031120-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                        <tr>
                                            <td class="tdHead">전송요구 SEQ</td>
                                            <td class="tdContent" id="reqSEQ"></td>
                                        </tr>

                                        <tr>
                                            <td class="tdHead">거래 고유번호</td>
                                            <td colspan="3" class="tdContent" id="code">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tdHead">요청API Resource</td>
                                            <td colspan="3" class="tdContent" id="apiResources"></td>
                                        </tr>

                                        <tr>
                                            <td class="tdHead">증권번호</td>
                                            <td class="tdContent" >168237311096
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tdHead">응답메시지</td>
                                            <td class="tdContent" id="resMsg" >
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tdHead" style="vertical-align: middle">resdata
                                            </td>
                                            <td class="tdContent p-0">
                                                <textarea style="height: 120px" class="w-100" id="resdata" disabled>

                                                </textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#providerModal">닫기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 자산 목록 모달 시작 -->
                <div class="modal fade" id="assetModal" tabindex="-1" role="dialog"
                     aria-labelledby="assetModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold" style="color: black" id="assetModalLabel">
                                    자산목록</h5>
                                <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="overflow-x: hidden">
                                <div class="border mb-3">
                                    <div class="border-bottom">
                                        <h5 class="text-muted p-3 m-0">&nbsp;&nbsp;보험계좌</h5>
                                    </div>
                                    <div class="p-4">
                                        <table class="table table-borderless table-hover">
                                            <thead>
                                            <tr>
                                                <th>보험계좌</th>
                                                <th>전송요구 여부</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td id="insuAccount">1234123123</td>
                                                <td><input type="checkbox" class="form-check" disabled checked></td>
                                            </tr>
                                            <tr>
                                                <td id="">1234sadfa23</td>
                                                <td><input type="checkbox" class="form-check" disabled checked></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="border mb-3">
                                    <div class="border-bottom">
                                        <h5 class="text-muted p-3 m-0">&nbsp;&nbsp;IRP 계좌</h5>
                                    </div>
                                    <div class="p-4">
                                        <table class="table table-borderless table-hover">
                                            <thead>
                                            <tr>
                                                <th>IRP 계좌</th>
                                                <th>전송요구 여부</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1234123123</td>
                                                <td><input type="checkbox" class="form-check" disabled checked></td>
                                            </tr>
                                            <tr>
                                                <td>1234sadfa23</td>
                                                <td><input type="checkbox" class="form-check" disabled checked></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="border mb-3">
                                    <div class="border-bottom">
                                        <h5 class="text-muted p-3 m-0">&nbsp;&nbsp;대출계좌</h5>
                                    </div>
                                    <div class="p-4">
                                        <table class="table table-borderless table-hover">
                                            <thead>
                                            <tr>
                                                <th>대출계좌</th>
                                                <th>전송요구 여부</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1234123123</td>
                                                <td><input type="checkbox" class="form-check" disabled checked></td>
                                            </tr>
                                            <tr>
                                                <td>1234sadfa23</td>
                                                <td><input type="checkbox" class="form-check" disabled checked></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 자산 목록 모달 끝 -->

                <!-- 발급 토큰 조회 모달 시작 -->
                <div class="modal fade" id="tokenModal" tabindex="-1" role="dialog"
                     aria-labelledby="tokenModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tokenModalLabel">발급 토큰 정보</h5>
                            </div>
                            <div class="modal-body" style="overflow-x: hidden">
                                <div class="w-100 p-2">
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">기본 정보</h5>
                                        </div>
                                        <div class="p-4">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        클라이언트 ID
                                                    </td>
                                                    <td class="tdContent" id="clientId">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        사용자 정보(CI)
                                                    </td>
                                                    <td class="tdContent" id="userInfo">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        서비스명
                                                    </td>
                                                    <td class="tdContent" id="mdServiceName">

                                                    </td>
                                                </tr>

                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        기관명
                                                    </td>
                                                    <td class="tdContent" id="agencyName">

                                                    </td>
                                                </tr>

                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        기관코드
                                                    </td>
                                                    <td class="tdContent" id="agencyCode">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="border mb-3">
                                        <div class="border-bottom">
                                            <h5 class="text-muted p-3 m-0">Access Token</h5>
                                        </div>
                                        <div class="p-4" style="overflow-x:auto;">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="tdHead">
                                                        발급한 Access Token
                                                    </td>
                                                    <td class="tdContent" id="accessToken"
                                                    >

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        발급시간
                                                    </td>
                                                    <td class="tdContent" id="entryTime">

                                                    </td>
                                                </tr>
                                                <tr style="border-top: 1px solid #dee2e6">
                                                    <td class="tdHead">
                                                        Access Token 폐기일
                                                    </td>
                                                    <td class="tdContent" id="endTime">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 발급 토큰 조회 모달 끝 -->

            </div>
            <!-- End of Main Content -->
            <!-- details info Modal end -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
</body>

</html>