<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipa.openapi_inzent.dao.GetDataDAO">
    <select id="selectAllIndustry" parameterType="string" resultType="com.ipa.openapi_inzent.model.GetDataDTO">
        select * from public.data
        where "clientNum" = #{clientNum}
        and uri = #{uri} and industry = #{industry};
    </select>
    <select id="selectAll" parameterType="string" resultType="com.ipa.openapi_inzent.model.GetDataDTO">
        select * from public.data
        where "clientNum" = #{clientNum}
        and uri = #{uri};
    </select>
    <select id="accountAll" parameterType="string" resultType="com.ipa.openapi_inzent.model.GetDataDTO">
        select *
        from public.data
        where "requestData" ->> 'account_num' = #{account}
        and "clientNum" = #{clientNum} and uri = #{uri};
    </select>
    <select id="accountOne" parameterType="string" resultType="com.ipa.openapi_inzent.model.GetDataDTO">
        select *
        from public.data
        where "responseData" -> 'account_list' -> 0 ->> 'account_num' = #{account}
        and "clientNum" = #{clientNum} and uri = #{uri};
    </select>
    <delete id="deleteAccount" parameterType="string">
        delete from public.data
        where "requestData" ->> 'org_code' = #{org_code}
        and "clientNum" = #{clientNum} and industry = #{industry};
    </delete>

</mapper>
