<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipa.openapi_inzent.dao.MydataDao">

    <resultMap id="mdService" type="com.ipa.openapi_inzent.model.MdServiceDTO">
        <result property="agencyId" column="agencyId"/>
        <result property="callbackUrl" column="callbackUrl"/>
        <result property="mdServiceName" column="mdServiceName"/>
        <result property="clientId" column="clientId"/>
        <result property="domainName" column="domainName"/>
    </resultMap>

    <resultMap id="mdServiceAgency" type="com.ipa.openapi_inzent.model.MdAgencyDTO">
        <!--property : 현재 DTO에서 사용하는 이름 column : DB에서 사용중인 이름-->
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="division" column="division"/>
        <result property="name" column="name"/>
        <result property="industry" column="industry"/>
        <result property="address" column="address"/>
        <result property="domainName" column="domainName"/>
        <result property="publicApiIp" column="publicApiIp"/>
        <result property="authenticationMethod" column="authenticationMethod"/>
        <result property="TLSNum" column="TLSNum"/>
        <result property="agencyIp" column="agencyIp"/>
        <result property="agencyPort" column="agencyPort"/>
        <collection property="mdServiceDTO" resultMap="mdService"/>
    </resultMap>

    <select id="mdAgencySelectAll" resultType="com.ipa.openapi_inzent.model.MdAgencyDTO">
        SELECT * FROM public."mdAgency";
    </select>

    <select id="mdServiceSelectAll" parameterType="int" resultMap="mdService">
        select DISTINCT (ms.id),ma."domainName",  ms."agencyId", ms.name as "mdServiceName", ms."callbackUrl", ms."clientId" from
        public."mdService" AS ms join public."mdAgency" AS ma on ms."agencyId" = #{id};
    </select>

    <select id="mdAgencySelectOne" parameterType="int" resultType="com.ipa.openapi_inzent.model.MdAgencyDTO">
        SELECT id, code, division, name, industry, address, "domainName", "publicApiIp", "authenticationMethod",
        "TLSNum", "agencyIp", "agencyPort"
        FROM public."mdAgency" where id = #{id};
    </select>

    <select id="mdAgencySelectBox" parameterType="string" resultType="com.ipa.openapi_inzent.model.MdAgencyDTO">
        SELECT id, code, division, name, industry, address, "domainName", "publicApiIp", "authenticationMethod",
        "TLSNum", "agencyIp", "agencyPort"
        FROM public."mdAgency" where division = #{division};
    </select>

</mapper>

