<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipa.openapi_inzent.dao.RoleDAO">
    <insert id="insert" parameterType="com.ipa.openapi_inzent.model.RoleDTO">
        INSERT INTO public.role(code, name)
        VALUES (#{code}, #{name});
    </insert>
    <select id="selectAll" resultType="com.ipa.openapi_inzent.model.RoleDTO">
        SELECT *
        FROM public.role
        order by id asc;
    </select>
    <select id="selectOne" parameterType="int" resultType="com.ipa.openapi_inzent.model.RoleDTO">
        SELECT *
        FROM public.role
        WHERE id = #{id};
    </select>
    <select id="selectApisRoleList" parameterType="int" resultType="com.ipa.openapi_inzent.model.RoleDTO">
        SELECT *
        FROM public.role
        INNER JOIN public."apisRole"
        ON public.role.id = public."apisRole"."roleId"
        WHERE public."apisRole"."apisId" = #{id}
    </select>
    <delete id="roleDelete" parameterType="int">
        delete from public.role
        where id = #{id};
    </delete>
    <select id="apisRoles" resultType="com.ipa.openapi_inzent.model.RoleDTO">
        select * from public."apisRole" as ar
        join public."role" as r
        on r.id = ar."roleId"
    </select>

</mapper>
