<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>

    <!-- config fragment 사용 -->
    <th:block th:replace="~{fragment/config :: configFragment}"></th:block>
</head>

<body>

<div>
    <th:block th:replace="~{fragment/headSideBar :: headerFragment}"></th:block>
    <div class="d-flex">
        <div style="margin-right: 22px">
            <th:block th:replace="~{fragment/headSideBar :: sideBarFragment}"></th:block>
        </div>
        <div class="mt-4" style="width: 88%;">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
</div>


<!-- footer fragment 사용 -->
</body>

</html>