<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box {
            border-radius: 70%;
            overflow: hidden;
        }
        .profile {
            width: 100%;
            object-fit: cover;
        }

        .bankName{
            margin-left: 20px;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="d-flex justify-content-center target" style="height: 80rem">
    <div class="mt-3">
        <div class="d-flex p-4">
            <h1 id="listName">&nbsp;카드 목록</h1>
        </div>
        <hr class="mt-0">
        <div id="listBox">
            <div class="p-4" id="listBox-1">
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            인젠트 카드
                        </h1>
                        <h2>
                            600,000원 지출
                        </h2>
                    </div>
                </div>
                <div class="d-flex justify-content-center target" style="height: 100rem">
                    <div class="mt-3" id="targetBox">
                        <div class="d-flex p-4">
                            <h1 id="listName" class="ml-1">지출 내역</h1>
                        </div>
                        <hr class="mt-0">
                        <div id="listBox">
                            <div class="p-4" id="listBox-1">

                                <div class="oneBox">
                                    <div class="listHover" onclick="location.href='/app/cardDetail'">
                                        <h1>
                                            맘모스 커피
                                        </h1>
                                        <h2>
                                            600,000원 지출
                                        </h2>
                                    </div>
                                </div>
                                <div class="oneBox">
                                    <div class="listHover" onclick="location.href='/app/cardDetail'">
                                        <h1>
                                            맘모스 커피
                                        </h1>
                                        <h2>
                                            600,000원 지출
                                        </h2>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="oneBox">
                    <div class="d-flex">
                        <span class="box"><img class="profile" src="/images/bank/inzent.png"></span>
                        <div class="bankName">인젠트뱅크</div>
                    </div>
                </div>
                </div>
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            비트 카드
                        </h1>
                        <h2>
                            1,600,000원 지출
                        </h2>
                    </div>
                </div>
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            인젠트 카드
                        </h1>
                        <h2>
                            600,000원 지출
                        </h2>
                    </div>
                </div>
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            인젠트 카드
                        </h1>
                        <h2>
                            600,000원 지출
                        </h2>
                    </div>
                </div>
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            인젠트 카드
                        </h1>
                        <h2>
                            600,000원 지출
                        </h2>
                    </div>
                </div>
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            인젠트 카드
                        </h1>
                        <h2>
                            600,000원 지출
                        </h2>
                    </div>
                </div>
                <div class="oneBox">
                    <div class="listHover">
                        <h1>
                            인젠트 카드
                        </h1>
                        <h2>
                            600,000원 지출
                        </h2>
                    </div>
                </div>


            </div>
        </div>
        <!-- 추가 해제 버튼 -->
        <div class="d-flex justify-content-center align-items-center" style="height: 11%;">
            <button class="btn-plus" type="button" onclick="location.href='/app/bank'">+ 추가</button>
            <button class="btn-minus" type="button">- 해제</button>
        </div>


    </div>
</div>
</body>
</html>