<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box {
            border-radius: 70%;
            overflow: hidden;
        }
        .profile {
            width: 100%;
            object-fit: cover;
        }

        .bankName{
            margin-left: 20px;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="d-flex justify-content-center target" style="height: 10rem;">
    <div class="d-flex mt-3 shadow p-5 targetBox justify-content-between align-items-center">
        <div class="w-100 d-flex align-items-center">
            <span class="box"><img class="profile" th:src="|/images/bank/inzent.png|"></span>
            <h1 class="ml-3">
                <span>인젠트 뱅크</span>
            </h1>
        </div>
        <span>▲</span>
        <!--                <input type="checkbox" class="form-check" name="property">-->
    </div>
</div>
<div class="d-flex justify-content-center target" style="height: 8rem">
    <div class="d-flex p-5 inBox justify-content-between align-items-center">
        <div class="w-100">
            <h3>
                인젠트 주거래 통장
            </h3>
            <h4>
                ( 101010101010101010 )
            </h4>
        </div>
        <input type="checkbox" class="form-check" name="property">
    </div>
</div>
<div class="d-flex justify-content-center target" style="height: 8rem">
    <div class="d-flex p-5 inBox justify-content-between align-items-center">
        <div class="w-100">
            <h3>
                인젠트 주거래 통장
            </h3>
            <h4>
                ( 101010101010101010 )
            </h4>
        </div>
        <input type="checkbox" class="form-check" name="property">
    </div>
</div>
</body>
</html>