<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INFINITY MANAGER</title>
    <!--    <script href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<link href="/css/newIndex.css" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/24311b556d.js" crossOrigin="anonymous"></script>
<body style="overflow: hidden">
<header class="header">
    <div class="header-menu">
        <img src="../images/logo_img.png" style="margin-left: 1%; cursor: pointer;"
             onclick="location.href='/'">
        <div style="font-size: 15%;">
            <a title="Button push orange" class="button btnPush btnOrange" sec:authorize="isAnonymous()"
               onclick="checkWeb()" style="cursor: pointer">LOGIN</button></a>
            <a title="Button push Blue" class="button btnPush btnBlue" sec:authorize="isAuthenticated()"
               onclick="location.href='/api'"  style="cursor: pointer">API</a>
            <a title="Button push purple" class="button btnPush btnPurple" sec:authorize="isAuthenticated()"
               onclick="location.href='/logout'"  style="cursor: pointer">LOGOUT</a>
        </div>
    </div>
</header>
<section class="hero" style="height: 94vh">
    <video class="hero-video" autoplay muted loop>
        <source src="https://cdn.zajno.com/dev/codepen/fossil/fossil.mp4" type="video/mp4"/>
    </video>
    <div class="container">
        <div class="title-block">
            <div class="title-h1">
                <div class="title-row title-row-1">
                    <!--                    OPEN API-->
                    <!--                    FOR DEVELOP-->
                    <div class="title-charts-cont" id="eve"><span>OP</span></div>
                    <div class="title-charts-cont" id="ry"><span>EN</span></div>
                    <div class="title-charts-cont" id="fo"><span style="color: #E23137;">A</span></div>
                    <div class="title-charts-cont" id="ssil"><span style="color: #E23137;">PI</span></div>
                    <!--                    <div class="title-charts-cont" id="tells"><span>&nbsp;FOR</span></div>-->
                </div>
                <div class="title-row title-row-2">

                    <div class="title-charts-cont" id="a"><span style="color: #E4E2E3">DEV</span></div>
                    <div class="title-charts-cont" id="st"><span style="color: #E4E2E3">ELOP</span></div>
                    <div class="title-charts-cont" id="ory"><span style="color: #E4E2E3">ERS</span></div>
                </div>
            </div>
            <div class="first-desc">
                <span class="desc-1">Welcome to INFINITY API Management</span>
            </div>
            <div class="second-desc">
                <!--                <span class="desc-1">We are open!</span>-->
            </div>
        </div>

        <div class="copyright">
            <span class="desc-1">2023 INFINITY ©</span>
        </div>

        <!--        <div class="scroll-to">-->
        <!--            <div class="scroll-to__row">-->
        <!--                <span class="desc-1">Scroll to</span>-->
        <!--            </div>-->
        <!--            <div class="scroll-to__row">-->
        <!--                <span class="desc-1">find out more</span>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="book-btn">-->
        <!--            <div class="book-btn__circle"></div>-->
        <!--            <div class="btn-text">-->
        <!--          <span class="btn-1">-->
        <!--            Book your ticket-->
        <!--          </span>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
<script src="/js/newIndex.js"></script>
</body>

</html>