<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>요청 목록</title>

    <th:block layout:fragment="css">
        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <style>
            .tdContent:hover {
                background-color: #f5f6fb;
            }

            .tdHead {
                background-color: #f5f5f5;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            function removeAlert(reqId) {
                let id = reqId.getAttribute("req_id");
                Swal.fire({
                    showCancelButton: true,
                    cancelButtonText: "취소",
                    confirmButtonText: "확인",
                    icon: 'warning',
                    text: "해당 요청을 삭제하시겠습니까?"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: '삭제 완료',
                            icon: 'success'
                        }).then(() => {
                            location.href = '/delete/' + id;
                        })
                    }
                });
            }

            // 승인
            function approve(id) {
                Swal.fire({
                    icon: 'success',
                    title: '승인 완료'
                }).then(() => {
                    location.href = '/approve/' + id;
                })
            }

            // 거절
            function refuse(id) {
                Swal.fire({
                    icon: 'success',
                    title: '거절 완료'
                }).then(() => {
                    location.href = '/refuse/' + id;
                })
            }

            // 요청 정보 모달에 넣을 데이터
            function reqDetail(reqId) {

                let id = reqId.getAttribute("req_id");
                let data = {
                    "id": id,
                }
                $.ajax({
                    url: "/selectOne/" + id,
                    data: data,
                    method: "get",

                    success: (message) => {
                        console.log(message);
                        document.getElementById('reqId').innerText = id;
                        let title = document.getElementsByClassName('reqTitle');
                        for (let i = 0; i < title.length; i++) {
                            title[i].innerText = message.title;
                        }
                        document.getElementById('reqUsername').innerText = message.reqUsername;
                        document.getElementById('reqNickname').innerText = message.reqNickname;
                        document.getElementById('reqEntryDate').innerText = message.entryDate;
                        document.getElementById('reqId').innerText = id;
                        document.getElementById('reqContent').innerText = message.content;

                        if (message.status == true) {
                            document.getElementById('status').innerText = '승인';
                        } else if (message.status == false) {
                            document.getElementById('status').innerText = '거절';
                        } else if (message.status == null) {
                            document.getElementById('status').innerText = '요청';
                            $('#approve').attr('onclick', 'approve(' + message.userId + ')').css("display", "block");
                            $('#refuse').attr('onclick', 'refuse(' + message.userId + ')').css("display", "block");
                        }
                        if (message.status != null) {
                            document.getElementById('statusNotNull').innerText = '성공';
                            document.getElementById('reqProcDate').innerText = message.procDate;
                            document.getElementById('reqProcUsername').innerText = message.procUsername;
                            $('#approve').css("display", "none");
                            $('#refuse').css("display", "none");
                        }

                    }
                })
            }

        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">요청 목록</h1>
                    <p class="mb-4"></p>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <!-- Topbar Search -->
                        <form action="/requestSearch" method="get" class="col input-group mt-3" style="width: 40%; align-self: end;">
                            <input type="text" class="form-control m-0"
                                   placeholder="검색어를 입력해주세요(제목, 내용)"
                                   aria-label="Search" name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </form>
                        <!--</div>-->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable"
                                       style="text-align: center; font-size: 13px; color: black">
                                    <thead>
                                    <tr style=" width: -webkit-fill-available; font-weight: bold; background-color: #f5f6fb;">
                                        <th>요청</th>
                                        <th>제목</th>
                                        <th>내용</th>
                                        <th>요청 계정</th>
                                        <th>요청 상태</th>
                                        <th>요청 날짜</th>
                                        <th>응답 날짜</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="reqList : ${list}" th:req_id="${reqList.id}" onclick="reqDetail(this)">
                                        <td id="requestNumber"
                                            data-toggle="modal" data-target="#exampleModal" th:text="${reqList.id}">
                                        </td>
                                        <td id="requestTitle" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal" th:text="${reqList.title}">
                                        </td>
                                        <td id="requestContents" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:text="${reqList.content}">
                                        </td>
                                        <td id="requestAccount" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:text="${reqList.reqUsername}">
                                        </td>
                                        <td id="requestStatus" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:if="${reqList.status}==null">
                                            요청
                                        </td>
                                        <td id="trueStatus" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:if="${reqList.status}==true">
                                            승인
                                        </td>
                                        <td id="falseStatus" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:if="${reqList.status}==false">
                                            거절
                                        </td>
                                        <td id="requestDate" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:text="${#dates.format(reqList.entryDate, 'yyyy-MM-dd')}">
                                        </td>
                                        <td id="responseDate" data-bs-toggle="modal"
                                            data-toggle="modal" data-target="#exampleModal"
                                            th:text="${reqList.procDate}">
                                        </td>
                                        <td id="requestDeletion">
                                            <i class="fa-solid fa-trash-can" style="color: #797a7c; cursor: pointer;"
                                               th:req_id="${reqList.id}"
                                               onclick="removeAlert(this)"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

                <!--요청정보 모달 시작-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">요청상세정보</h5>
                            </div>
                            <div class="modal-body" id="modalDark" style="overflow-x: hidden">
                                <table class="table table-bordered align-middle"
                                       style="width: -webkit-fill-available; font-size: 15px">
                                    <tbody>
                                    <tr>
                                        <td class="tdHead">요청번호</td>
                                        <td colspan="3" class="tdContent" id="reqId"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-2 tdHead">요청 구분</td>
                                        <td class="col-4 tdContent reqTitle"></td>
                                        <td class="col-2 tdHead">해당 아이디</td>
                                        <td class="col-4 tdContent" id="reqUsername"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-2 tdHead">요청 이름
                                        </td>
                                        <td class="col-4 tdContent" id="reqNickname"></td>
                                        <td class="col-2 tdHead">요청 날짜
                                        </td>
                                        <td class="col-4 tdContent" id="reqEntryDate"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-2 tdHead">요청 상태
                                        </td>
                                        <td class="col-4 tdContent" id="status">
                                        </td>
                                        <td class="col-2 tdHead">처리 결과</td>
                                        <td class="col-4 tdContent" id="statusNotNull"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-2 tdHead">처리 계정
                                        </td>
                                        <td class="col-4 tdContent" id="reqProcUsername"></td>
                                        <td class="col-2 tdHead">처리 날짜</td>
                                        <td class="col-4 tdContent" id="reqProcDate"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">제목</td>
                                        <td colspan="3" class="tdContent reqTitle"></td>
                                    </tr>
                                    <tr>
                                        <td class="tdHead">내용</td>
                                        <td colspan="3" class="tdContent">
                                            <textarea class="form-control" id="reqContent" readonly>
                                            </textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="approve" style="display: none">승인
                                </button>
                                <button type="button" class="btn btn-danger ml-2" id="refuse" style="display: none">거절
                                </button>
                                <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--유저정보 모달 끝-->
        </div>

    </div>
</div>
</body>
</html>