<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>INFINITY MANAGER</title>-->
<!--    <link href="/images/logo_img.png" rel="shortcut icon" type="image/x-icon">-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
<!--            rel="stylesheet">-->
<!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--    <link href="css/sb-admin-2.min.css" rel="stylesheet">-->
<!--    &lt;!&ndash; Custom styles for this page &ndash;&gt;-->
<!--    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">-->
<!--    <link href="/css/apis.css" rel="stylesheet"/>-->
<!--    <script src="https://kit.fontawesome.com/24311b556d.js" crossorigin="anonymous"></script>-->

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<div class="form-check form-switch">-->
<!--    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>-->
<!--    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>-->
<!--</div>-->


<!--<div class="goNaver" onclick="location.href='https://www.naver.com/'" style="width: 300px; height: 200px; border: solid 4px darkgreen; background-color: gray">-->
<!--    누르면 네이버로 이동-->
<!--    <button class="goGoogle" onclick="location.href='https://www.google.co.kr/?hl=ko'">-->
<!--        구글 가기-->
<!--    </button>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->